<img src="python_logo.svg" alt="Header" style="width: 300px;"/>

In [1]:
import pandas as pd
import numpy as np
import pyfpgrowth
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
from IPython.display import display
import random
import sys
sys.setrecursionlimit(1500)
from operator import itemgetter

# 1. Prepare The Data

### Import Dataset

In [2]:
# Input dataset name       
input_dataset_name = input('Dataset Name = ')

Dataset Name = EMSC-Dataset.csv

In [3]:
data_for_visualization = pd.read_csv('Data/'+input_dataset_name, low_memory=False)
data_for_process = pd.read_csv('Data/'+input_dataset_name, low_memory=False)

In [4]:
print('Data Before Cleaning :')
display(data_for_visualization)

Data Before Cleaning :

,Date,Time UTC,Latitude,Longitude,Depth,Magnitude Type,Magnitude,Region Name,Last Update,Eqid
0,3/13/2019,3:24:48,19.34,-155.15,1,Ml,2.1,"ISLAND OF HAWAII, HAWAII",3/13/2019 3:30,750458
1,3/13/2019,3:19:34,36.93,-5.27,24,ML,2.6,STRAIT OF GIBRALTAR,3/13/2019 3:24,750457
2,3/13/2019,3:06:49,37.76,14.50,10,ML,2.0,"SICILY, ITALY",3/13/2019 3:12,750455
3,3/13/2019,3:01:50,-4.86,134.01,35,mb,4.2,"NEAR S COAST OF PAPUA, INDONESIA",3/13/2019 3:14,750453
4,3/13/2019,2:42:25,69.63,-144.41,10,mb,4.5,NORTHERN ALASKA,3/13/2019 3:07,750451
5,3/13/2019,2:41:37,36.98,-5.28,10,ML,4.0,STRAIT OF GIBRALTAR,3/13/2019 3:26,750450
6,3/13/2019,2:11:01,-28.64,-70.40,88,ML,4.0,"ATACAMA, CHILE",3/13/2019 2:26,750448
7,3/13/2019,1:50:48,0.11,119.74,35,mb,4.3,"MINAHASA, SULAWESI, INDONESIA",3/13/2019 2:41,750427
8,3/13/2019,1:41:45,66.33,-157.31,10,ML,2.6,NORTHERN ALASKA,3/13/2019 2:03,750442
9,3/13/2019,1:27:43,31.02,-87.26,5,mb,2.3,ALABAMA,3/13/2019 3:10,750454
10,3/13/2019,1:19:49,45.78,26.65,75,ML,3.2,ROMANIA,3/13/2019 1:58,750423
11,3/13/2019,1:04:21,39.35,-122.35,4,Md,2.9,NORTHERN CALIFORNIA,3/13/2019 1:07,750420
12,3/13/2019,1:03:58,36.92,-5.35,1,ML,2.1,STRAIT OF GIBRALTAR,3/13/2019 1:10,750421
13,3/13/2019,0:51:40,36.87,-5.17,17,ML,2.4,STRAIT OF GIBRALTAR,3/13/2019 0:56,750419
14,3/13/2019,0:49:27,36.66,28.19,50,ML,2.3,DODECANESE IS.-TURKEY BORDER REG,3/13/2019 1:26,750424
15,3/13/2019,0:48:47,66.18,-157.42,1,ML,3.0,NORTHERN ALASKA,3/13/2019 1:45,750418
16,3/13/2019,0:34:39,66.30,-157.22,0,ML,3.1,NORTHERN ALASKA,3/13/2019 1:39,750417
17,3/13/2019,0:26:04,40.01,-122.75,11,Md,2.2,NORTHERN CALIFORNIA,3/13/2019 0:27,750416
18,3/13/2019,0:13:47,35.35,33.72,38,ML,2.0,CYPRUS REGION,3/13/2019 1:22,750422
19,3/12/2019,23:47:00,-2.24,101.98,166,M,4.2,"SOUTHERN SUMATRA, INDONESIA",3/13/2019 0:15,750415
20,3/12/2019,23:45:05,35.75,-97.57,5,mb,2.4,OKLAHOMA,3/13/2019 0:03,750411
21,3/12/2019,23:44:12,-6.80,103.83,10,M,4.0,"SOUTHWEST OF SUMATRA, INDONESIA",3/13/2019 0:10,750414
22,3/12/2019,23:40:24,39.75,25.64,8,ML,2.9,AEGEAN SEA,3/12/2019 23:53,750409
23,3/12/2019,23:39:13,-2.33,128.29,23,M,3.8,"CERAM SEA, INDONESIA",3/13/2019 0:05,750413
24,3/12/2019,23:07:16,19.40,-155.29,1,Md,2.2,"ISLAND OF HAWAII, HAWAII",3/12/2019 23:10,750405
25,3/12/2019,22:53:52,16.97,-99.74,39,M,3.5,"GUERRERO, MEXICO",3/13/2019 2:05,750443
26,3/12/2019,22:46:14,19.02,-65.18,53,Md,3.2,PUERTO RICO REGION,3/12/2019 23:30,750408
27,3/12/2019,22:30:16,35.47,-115.54,0,ml,2.1,SOUTHERN CALIFORNIA,3/13/2019 0:04,750412
28,3/12/2019,22:22:41,16.54,-98.62,43,M,3.2,"GUERRERO, MEXICO",3/13/2019 2:05,750444
29,3/12/2019,22:16:29,-23.47,-69.07,82,ML,3.5,"ANTOFAGASTA, CHILE",3/12/2019 22:37,750402
...,...,...,...,...,...,...,...,...,...,...
301966,1/1/2013,7:35:50,46.89,151.07,46,mb,5.6,KURIL ISLANDS,1/1/2013 14:20,299135
301967,1/1/2013,7:12:25,-30.27,-70.95,18,ML,3.0,"COQUIMBO, CHILE",1/1/2013 7:28,299132
301968,1/1/2013,6:57:11,43.04,-0.26,5,ML,2.6,PYRENEES,1/1/2013 7:05,299128
301969,1/1/2013,6:52:38,39.81,42.66,8,ML,2.2,EASTERN TURKEY,1/1/2013 7:05,299129
301970,1/1/2013,6:36:57,43.06,-0.20,10,ML,2.6,PYRENEES,1/1/2013 10:14,299151
301971,1/1/2013,6:36:57,36.59,28.34,35,ML,2.1,DODECANESE IS.-TURKEY BORDER REG,1/1/2013 6:51,299126
301972,1/1/2013,6:34:57,43.12,-0.23,2,ML,3.3,PYRENEES,1/1/2013 14:19,299125
301973,1/1/2013,6:33:45,34.94,23.45,17,ML,2.1,"CRETE, GREECE",1/2/2013 13:23,299311
301974,1/1/2013,6:20:22,-34.19,-72.18,22,ML,2.8,"OFFSHORE O'HIGGINS, CHILE",1/1/2013 7:36,299133
301975,1/1/2013,6:16:59,43.00,-0.22,2,ML,2.6,PYRENEES,1/1/2013 6:25,299123
301976,1/1/2013,6:10:05,43.16,-0.18,2,ML,3.5,PYRENEES,1/1/2013 6:23,299119
301977,1/1/2013,6:10:01,38.87,45.47,20,ML,3.5,NORTHWESTERN IRAN,1/1/2013 14:17,299124
301978,1/1/2013,6:05:50,43.06,-0.27,2,ML,2.8,PYRENEES,1/1/2013 6:13,299120
301979,1/1/2013,5:48:55,48.37,8.99,3,ML,2.1,GERMANY,1/1/2013 14:16,299117
301980,1/1/2013,5:35:48,15.64,-98.50,20,mb,4.4,"OFFSHORE OAXACA, MEXICO",1/3/2013 8:17,299118
301981,1/1/2013,5:26:26,43.05,-0.24,2,ML,2.9,PYRENEES,1/1/2013 5:37,299115
301982,1/1/2013,5:22:07,35.75,25.83,8,ML,2.8,"CRETE, GREECE",1/3/2013 8:08,299114
301983,1/1/2013,5:21:57,38.80,41.85,5,ML,2.0,EASTERN TURKEY,1/1/2013 5:30,299112
301984,1/1/2013,5:21:31,38.64,15.50,74,ML,2.0,"SICILY, ITALY",1/1/2013 5:31,299113
301985,1/1/2013,4:08:35,36.47,71.31,113,mb,4.5,"HINDU KUSH REGION, AFGHANISTAN",1/1/2013 14:11,299109
301986,1/1/2013,3:54:16,36.27,28.14,41,ML,2.2,DODECANESE IS.-TURKEY BORDER REG,1/1/2013 4:01,299108
301987,1/1/2013,3:54:07,39.42,23.99,9,ML,2.2,AEGEAN SEA,1/1/2013 14:27,299183
301988,1/1/2013,3:52:11,-36.98,-74.10,18,ML,3.6,"OFFSHORE BIO-BIO, CHILE",1/1/2013 7:41,299134
301989,1/1/2013,3:51:13,-20.81,-69.67,56,mb,4.9,"TARAPACA, CHILE",1/1/2013 14:09,299131
301990,1/1/2013,3:41:10,36.54,34.04,5,ML,2.3,CENTRAL TURKEY,1/1/2013 3:58,299107
301991,1/1/2013,3:32:12,40.47,141.51,100,mb,4.6,"NEAR EAST COAST OF HONSHU, JAPAN",1/1/2013 14:08,299106
301992,1/1/2013,2:18:20,-21.24,-68.91,116,ML,2.6,"TARAPACA, CHILE",1/1/2013 7:18,299130
301993,1/1/2013,1:51:59,37.25,12.24,10,M,2.4,"SICILY, ITALY",1/1/2013 2:01,299105
301994,1/1/2013,0:59:04,38.48,26.80,18,ML,2.0,NEAR THE COAST OF WESTERN TURKEY,1/1/2013 1:08,299103
301995,1/1/2013,0:35:43,38.14,27.05,10,ML,2.1,WESTERN TURKEY,1/1/2013 0:45,299102

## 1.1. Data Cleaning

### 1.1.1. Handle Missing Value

In [5]:
# Data Cleaning ( Handle Missing Value )
data_for_process.fillna(method='ffill',inplace=True) # Fill Forward
data_for_process.fillna(method='bfill',inplace=True) # Fill Backward
data_for_visualization.fillna(method='ffill',inplace=True) # Fill Forward
data_for_visualization.fillna(method='bfill',inplace=True) # Fill Backward

In [6]:
print('Data After Cleaning :')
display(data_for_visualization)

Data After Cleaning :

,Date,Time UTC,Latitude,Longitude,Depth,Magnitude Type,Magnitude,Region Name,Last Update,Eqid
0,3/13/2019,3:24:48,19.34,-155.15,1,Ml,2.1,"ISLAND OF HAWAII, HAWAII",3/13/2019 3:30,750458
1,3/13/2019,3:19:34,36.93,-5.27,24,ML,2.6,STRAIT OF GIBRALTAR,3/13/2019 3:24,750457
2,3/13/2019,3:06:49,37.76,14.50,10,ML,2.0,"SICILY, ITALY",3/13/2019 3:12,750455
3,3/13/2019,3:01:50,-4.86,134.01,35,mb,4.2,"NEAR S COAST OF PAPUA, INDONESIA",3/13/2019 3:14,750453
4,3/13/2019,2:42:25,69.63,-144.41,10,mb,4.5,NORTHERN ALASKA,3/13/2019 3:07,750451
5,3/13/2019,2:41:37,36.98,-5.28,10,ML,4.0,STRAIT OF GIBRALTAR,3/13/2019 3:26,750450
6,3/13/2019,2:11:01,-28.64,-70.40,88,ML,4.0,"ATACAMA, CHILE",3/13/2019 2:26,750448
7,3/13/2019,1:50:48,0.11,119.74,35,mb,4.3,"MINAHASA, SULAWESI, INDONESIA",3/13/2019 2:41,750427
8,3/13/2019,1:41:45,66.33,-157.31,10,ML,2.6,NORTHERN ALASKA,3/13/2019 2:03,750442
9,3/13/2019,1:27:43,31.02,-87.26,5,mb,2.3,ALABAMA,3/13/2019 3:10,750454
10,3/13/2019,1:19:49,45.78,26.65,75,ML,3.2,ROMANIA,3/13/2019 1:58,750423
11,3/13/2019,1:04:21,39.35,-122.35,4,Md,2.9,NORTHERN CALIFORNIA,3/13/2019 1:07,750420
12,3/13/2019,1:03:58,36.92,-5.35,1,ML,2.1,STRAIT OF GIBRALTAR,3/13/2019 1:10,750421
13,3/13/2019,0:51:40,36.87,-5.17,17,ML,2.4,STRAIT OF GIBRALTAR,3/13/2019 0:56,750419
14,3/13/2019,0:49:27,36.66,28.19,50,ML,2.3,DODECANESE IS.-TURKEY BORDER REG,3/13/2019 1:26,750424
15,3/13/2019,0:48:47,66.18,-157.42,1,ML,3.0,NORTHERN ALASKA,3/13/2019 1:45,750418
16,3/13/2019,0:34:39,66.30,-157.22,0,ML,3.1,NORTHERN ALASKA,3/13/2019 1:39,750417
17,3/13/2019,0:26:04,40.01,-122.75,11,Md,2.2,NORTHERN CALIFORNIA,3/13/2019 0:27,750416
18,3/13/2019,0:13:47,35.35,33.72,38,ML,2.0,CYPRUS REGION,3/13/2019 1:22,750422
19,3/12/2019,23:47:00,-2.24,101.98,166,M,4.2,"SOUTHERN SUMATRA, INDONESIA",3/13/2019 0:15,750415
20,3/12/2019,23:45:05,35.75,-97.57,5,mb,2.4,OKLAHOMA,3/13/2019 0:03,750411
21,3/12/2019,23:44:12,-6.80,103.83,10,M,4.0,"SOUTHWEST OF SUMATRA, INDONESIA",3/13/2019 0:10,750414
22,3/12/2019,23:40:24,39.75,25.64,8,ML,2.9,AEGEAN SEA,3/12/2019 23:53,750409
23,3/12/2019,23:39:13,-2.33,128.29,23,M,3.8,"CERAM SEA, INDONESIA",3/13/2019 0:05,750413
24,3/12/2019,23:07:16,19.40,-155.29,1,Md,2.2,"ISLAND OF HAWAII, HAWAII",3/12/2019 23:10,750405
25,3/12/2019,22:53:52,16.97,-99.74,39,M,3.5,"GUERRERO, MEXICO",3/13/2019 2:05,750443
26,3/12/2019,22:46:14,19.02,-65.18,53,Md,3.2,PUERTO RICO REGION,3/12/2019 23:30,750408
27,3/12/2019,22:30:16,35.47,-115.54,0,ml,2.1,SOUTHERN CALIFORNIA,3/13/2019 0:04,750412
28,3/12/2019,22:22:41,16.54,-98.62,43,M,3.2,"GUERRERO, MEXICO",3/13/2019 2:05,750444
29,3/12/2019,22:16:29,-23.47,-69.07,82,ML,3.5,"ANTOFAGASTA, CHILE",3/12/2019 22:37,750402
...,...,...,...,...,...,...,...,...,...,...
301966,1/1/2013,7:35:50,46.89,151.07,46,mb,5.6,KURIL ISLANDS,1/1/2013 14:20,299135
301967,1/1/2013,7:12:25,-30.27,-70.95,18,ML,3.0,"COQUIMBO, CHILE",1/1/2013 7:28,299132
301968,1/1/2013,6:57:11,43.04,-0.26,5,ML,2.6,PYRENEES,1/1/2013 7:05,299128
301969,1/1/2013,6:52:38,39.81,42.66,8,ML,2.2,EASTERN TURKEY,1/1/2013 7:05,299129
301970,1/1/2013,6:36:57,43.06,-0.20,10,ML,2.6,PYRENEES,1/1/2013 10:14,299151
301971,1/1/2013,6:36:57,36.59,28.34,35,ML,2.1,DODECANESE IS.-TURKEY BORDER REG,1/1/2013 6:51,299126
301972,1/1/2013,6:34:57,43.12,-0.23,2,ML,3.3,PYRENEES,1/1/2013 14:19,299125
301973,1/1/2013,6:33:45,34.94,23.45,17,ML,2.1,"CRETE, GREECE",1/2/2013 13:23,299311
301974,1/1/2013,6:20:22,-34.19,-72.18,22,ML,2.8,"OFFSHORE O'HIGGINS, CHILE",1/1/2013 7:36,299133
301975,1/1/2013,6:16:59,43.00,-0.22,2,ML,2.6,PYRENEES,1/1/2013 6:25,299123
301976,1/1/2013,6:10:05,43.16,-0.18,2,ML,3.5,PYRENEES,1/1/2013 6:23,299119
301977,1/1/2013,6:10:01,38.87,45.47,20,ML,3.5,NORTHWESTERN IRAN,1/1/2013 14:17,299124
301978,1/1/2013,6:05:50,43.06,-0.27,2,ML,2.8,PYRENEES,1/1/2013 6:13,299120
301979,1/1/2013,5:48:55,48.37,8.99,3,ML,2.1,GERMANY,1/1/2013 14:16,299117
301980,1/1/2013,5:35:48,15.64,-98.50,20,mb,4.4,"OFFSHORE OAXACA, MEXICO",1/3/2013 8:17,299118
301981,1/1/2013,5:26:26,43.05,-0.24,2,ML,2.9,PYRENEES,1/1/2013 5:37,299115
301982,1/1/2013,5:22:07,35.75,25.83,8,ML,2.8,"CRETE, GREECE",1/3/2013 8:08,299114
301983,1/1/2013,5:21:57,38.80,41.85,5,ML,2.0,EASTERN TURKEY,1/1/2013 5:30,299112
301984,1/1/2013,5:21:31,38.64,15.50,74,ML,2.0,"SICILY, ITALY",1/1/2013 5:31,299113
301985,1/1/2013,4:08:35,36.47,71.31,113,mb,4.5,"HINDU KUSH REGION, AFGHANISTAN",1/1/2013 14:11,299109
301986,1/1/2013,3:54:16,36.27,28.14,41,ML,2.2,DODECANESE IS.-TURKEY BORDER REG,1/1/2013 4:01,299108
301987,1/1/2013,3:54:07,39.42,23.99,9,ML,2.2,AEGEAN SEA,1/1/2013 14:27,299183
301988,1/1/2013,3:52:11,-36.98,-74.10,18,ML,3.6,"OFFSHORE BIO-BIO, CHILE",1/1/2013 7:41,299134
301989,1/1/2013,3:51:13,-20.81,-69.67,56,mb,4.9,"TARAPACA, CHILE",1/1/2013 14:09,299131
301990,1/1/2013,3:41:10,36.54,34.04,5,ML,2.3,CENTRAL TURKEY,1/1/2013 3:58,299107
301991,1/1/2013,3:32:12,40.47,141.51,100,mb,4.6,"NEAR EAST COAST OF HONSHU, JAPAN",1/1/2013 14:08,299106
301992,1/1/2013,2:18:20,-21.24,-68.91,116,ML,2.6,"TARAPACA, CHILE",1/1/2013 7:18,299130
301993,1/1/2013,1:51:59,37.25,12.24,10,M,2.4,"SICILY, ITALY",1/1/2013 2:01,299105
301994,1/1/2013,0:59:04,38.48,26.80,18,ML,2.0,NEAR THE COAST OF WESTERN TURKEY,1/1/2013 1:08,299103
301995,1/1/2013,0:35:43,38.14,27.05,10,ML,2.1,WESTERN TURKEY,1/1/2013 0:45,299102

In [7]:
data_for_visualization.to_csv('Data after Data Cleaning.csv', index = False)

### 1.1.2. Check for Numeric Attribute

In [8]:
display("All Attribute(s) :", list(data_for_visualization.columns))

'All Attribute(s) :'

['Date',
 'Time UTC',
 'Latitude',
 'Longitude',
 'Depth',
 'Magnitude Type',
 'Magnitude',
 'Region Name',
 'Last Update',
 'Eqid']

In [9]:
# Check for numeric attribut
numerics = ['int_','int8','int16', 'int32', 'int64','uint8','uint16', 'uint32', 'uint64', 'float_', 'float16', 'float32', 'float64']
attribute_numeric = data_for_visualization.select_dtypes(include=numerics)

In [10]:
display("Numeric Attribute(s) :",list(attribute_numeric.columns))

'Numeric Attribute(s) :'

['Latitude', 'Longitude', 'Depth', 'Magnitude', 'Eqid']

### 1.1.3. Check for Nominal Attribute

In [11]:
# Check for nominal attribute
attribute_nominal = data_for_visualization.select_dtypes(include = ['O'])

In [12]:
display("Nominal Attribute(s) :",list(attribute_nominal.columns))

'Nominal Attribute(s) :'

['Date', 'Time UTC', 'Magnitude Type', 'Region Name', 'Last Update']

### 1.1.4. Transform Nominal to Numeric

In [13]:
# Transform the nominal attribute values to numeric values
for att_nom in attribute_nominal:
    data_for_visualization[att_nom]=data_for_visualization[att_nom].astype('category').cat.codes

### 1.1.5. Check ID in Dataset

In [14]:
# ListOfId = []
# for i in data_for_visualization.columns:
#     if (data_for_visualization[i].nunique()) == len(data_for_visualization):
#         ListOfId.append(i)

In [15]:
# ListOfId

Delete ID Column from Dataset

In [16]:
# for i in ListOfId:
#     del data_for_process[i]
#     del data_for_visualization[i]

In [17]:
data_for_process

,Date,Time UTC,Latitude,Longitude,Depth,Magnitude Type,Magnitude,Region Name,Last Update,Eqid
0,3/13/2019,3:24:48,19.34,-155.15,1,Ml,2.1,"ISLAND OF HAWAII, HAWAII",3/13/2019 3:30,750458
1,3/13/2019,3:19:34,36.93,-5.27,24,ML,2.6,STRAIT OF GIBRALTAR,3/13/2019 3:24,750457
2,3/13/2019,3:06:49,37.76,14.50,10,ML,2.0,"SICILY, ITALY",3/13/2019 3:12,750455
3,3/13/2019,3:01:50,-4.86,134.01,35,mb,4.2,"NEAR S COAST OF PAPUA, INDONESIA",3/13/2019 3:14,750453
4,3/13/2019,2:42:25,69.63,-144.41,10,mb,4.5,NORTHERN ALASKA,3/13/2019 3:07,750451
5,3/13/2019,2:41:37,36.98,-5.28,10,ML,4.0,STRAIT OF GIBRALTAR,3/13/2019 3:26,750450
6,3/13/2019,2:11:01,-28.64,-70.40,88,ML,4.0,"ATACAMA, CHILE",3/13/2019 2:26,750448
7,3/13/2019,1:50:48,0.11,119.74,35,mb,4.3,"MINAHASA, SULAWESI, INDONESIA",3/13/2019 2:41,750427
8,3/13/2019,1:41:45,66.33,-157.31,10,ML,2.6,NORTHERN ALASKA,3/13/2019 2:03,750442
9,3/13/2019,1:27:43,31.02,-87.26,5,mb,2.3,ALABAMA,3/13/2019 3:10,750454
10,3/13/2019,1:19:49,45.78,26.65,75,ML,3.2,ROMANIA,3/13/2019 1:58,750423
11,3/13/2019,1:04:21,39.35,-122.35,4,Md,2.9,NORTHERN CALIFORNIA,3/13/2019 1:07,750420
12,3/13/2019,1:03:58,36.92,-5.35,1,ML,2.1,STRAIT OF GIBRALTAR,3/13/2019 1:10,750421
13,3/13/2019,0:51:40,36.87,-5.17,17,ML,2.4,STRAIT OF GIBRALTAR,3/13/2019 0:56,750419
14,3/13/2019,0:49:27,36.66,28.19,50,ML,2.3,DODECANESE IS.-TURKEY BORDER REG,3/13/2019 1:26,750424
15,3/13/2019,0:48:47,66.18,-157.42,1,ML,3.0,NORTHERN ALASKA,3/13/2019 1:45,750418
16,3/13/2019,0:34:39,66.30,-157.22,0,ML,3.1,NORTHERN ALASKA,3/13/2019 1:39,750417
17,3/13/2019,0:26:04,40.01,-122.75,11,Md,2.2,NORTHERN CALIFORNIA,3/13/2019 0:27,750416
18,3/13/2019,0:13:47,35.35,33.72,38,ML,2.0,CYPRUS REGION,3/13/2019 1:22,750422
19,3/12/2019,23:47:00,-2.24,101.98,166,M,4.2,"SOUTHERN SUMATRA, INDONESIA",3/13/2019 0:15,750415
20,3/12/2019,23:45:05,35.75,-97.57,5,mb,2.4,OKLAHOMA,3/13/2019 0:03,750411
21,3/12/2019,23:44:12,-6.80,103.83,10,M,4.0,"SOUTHWEST OF SUMATRA, INDONESIA",3/13/2019 0:10,750414
22,3/12/2019,23:40:24,39.75,25.64,8,ML,2.9,AEGEAN SEA,3/12/2019 23:53,750409
23,3/12/2019,23:39:13,-2.33,128.29,23,M,3.8,"CERAM SEA, INDONESIA",3/13/2019 0:05,750413
24,3/12/2019,23:07:16,19.40,-155.29,1,Md,2.2,"ISLAND OF HAWAII, HAWAII",3/12/2019 23:10,750405
25,3/12/2019,22:53:52,16.97,-99.74,39,M,3.5,"GUERRERO, MEXICO",3/13/2019 2:05,750443
26,3/12/2019,22:46:14,19.02,-65.18,53,Md,3.2,PUERTO RICO REGION,3/12/2019 23:30,750408
27,3/12/2019,22:30:16,35.47,-115.54,0,ml,2.1,SOUTHERN CALIFORNIA,3/13/2019 0:04,750412
28,3/12/2019,22:22:41,16.54,-98.62,43,M,3.2,"GUERRERO, MEXICO",3/13/2019 2:05,750444
29,3/12/2019,22:16:29,-23.47,-69.07,82,ML,3.5,"ANTOFAGASTA, CHILE",3/12/2019 22:37,750402
...,...,...,...,...,...,...,...,...,...,...
301966,1/1/2013,7:35:50,46.89,151.07,46,mb,5.6,KURIL ISLANDS,1/1/2013 14:20,299135
301967,1/1/2013,7:12:25,-30.27,-70.95,18,ML,3.0,"COQUIMBO, CHILE",1/1/2013 7:28,299132
301968,1/1/2013,6:57:11,43.04,-0.26,5,ML,2.6,PYRENEES,1/1/2013 7:05,299128
301969,1/1/2013,6:52:38,39.81,42.66,8,ML,2.2,EASTERN TURKEY,1/1/2013 7:05,299129
301970,1/1/2013,6:36:57,43.06,-0.20,10,ML,2.6,PYRENEES,1/1/2013 10:14,299151
301971,1/1/2013,6:36:57,36.59,28.34,35,ML,2.1,DODECANESE IS.-TURKEY BORDER REG,1/1/2013 6:51,299126
301972,1/1/2013,6:34:57,43.12,-0.23,2,ML,3.3,PYRENEES,1/1/2013 14:19,299125
301973,1/1/2013,6:33:45,34.94,23.45,17,ML,2.1,"CRETE, GREECE",1/2/2013 13:23,299311
301974,1/1/2013,6:20:22,-34.19,-72.18,22,ML,2.8,"OFFSHORE O'HIGGINS, CHILE",1/1/2013 7:36,299133
301975,1/1/2013,6:16:59,43.00,-0.22,2,ML,2.6,PYRENEES,1/1/2013 6:25,299123
301976,1/1/2013,6:10:05,43.16,-0.18,2,ML,3.5,PYRENEES,1/1/2013 6:23,299119
301977,1/1/2013,6:10:01,38.87,45.47,20,ML,3.5,NORTHWESTERN IRAN,1/1/2013 14:17,299124
301978,1/1/2013,6:05:50,43.06,-0.27,2,ML,2.8,PYRENEES,1/1/2013 6:13,299120
301979,1/1/2013,5:48:55,48.37,8.99,3,ML,2.1,GERMANY,1/1/2013 14:16,299117
301980,1/1/2013,5:35:48,15.64,-98.50,20,mb,4.4,"OFFSHORE OAXACA, MEXICO",1/3/2013 8:17,299118
301981,1/1/2013,5:26:26,43.05,-0.24,2,ML,2.9,PYRENEES,1/1/2013 5:37,299115
301982,1/1/2013,5:22:07,35.75,25.83,8,ML,2.8,"CRETE, GREECE",1/3/2013 8:08,299114
301983,1/1/2013,5:21:57,38.80,41.85,5,ML,2.0,EASTERN TURKEY,1/1/2013 5:30,299112
301984,1/1/2013,5:21:31,38.64,15.50,74,ML,2.0,"SICILY, ITALY",1/1/2013 5:31,299113
301985,1/1/2013,4:08:35,36.47,71.31,113,mb,4.5,"HINDU KUSH REGION, AFGHANISTAN",1/1/2013 14:11,299109
301986,1/1/2013,3:54:16,36.27,28.14,41,ML,2.2,DODECANESE IS.-TURKEY BORDER REG,1/1/2013 4:01,299108
301987,1/1/2013,3:54:07,39.42,23.99,9,ML,2.2,AEGEAN SEA,1/1/2013 14:27,299183
301988,1/1/2013,3:52:11,-36.98,-74.10,18,ML,3.6,"OFFSHORE BIO-BIO, CHILE",1/1/2013 7:41,299134
301989,1/1/2013,3:51:13,-20.81,-69.67,56,mb,4.9,"TARAPACA, CHILE",1/1/2013 14:09,299131
301990,1/1/2013,3:41:10,36.54,34.04,5,ML,2.3,CENTRAL TURKEY,1/1/2013 3:58,299107
301991,1/1/2013,3:32:12,40.47,141.51,100,mb,4.6,"NEAR EAST COAST OF HONSHU, JAPAN",1/1/2013 14:08,299106
301992,1/1/2013,2:18:20,-21.24,-68.91,116,ML,2.6,"TARAPACA, CHILE",1/1/2013 7:18,299130
301993,1/1/2013,1:51:59,37.25,12.24,10,M,2.4,"SICILY, ITALY",1/1/2013 2:01,299105
301994,1/1/2013,0:59:04,38.48,26.80,18,ML,2.0,NEAR THE COAST OF WESTERN TURKEY,1/1/2013 1:08,299103
301995,1/1/2013,0:35:43,38.14,27.05,10,ML,2.1,WESTERN TURKEY,1/1/2013 0:45,299102

### 1.1.6. Check Correlation

In [18]:
# Check Correlation
corr = data_for_visualization.corr()

In [19]:
display("Dataset Correlation :",corr)

'Dataset Correlation :'

,Date,Time UTC,Latitude,Longitude,Depth,Magnitude Type,Magnitude,Region Name,Last Update,Eqid
Date,1.000000,0.004958,-0.014618,-0.113783,-0.024589,0.001338,-0.062412,-0.009879,0.973941,0.038718
Time UTC,0.004958,1.000000,0.006073,-0.007142,-0.008839,-0.007248,-0.011687,0.006121,0.004545,-0.002454
Latitude,-0.014618,0.006073,1.000000,0.037239,-0.352422,-0.174786,-0.445897,-0.093540,-0.011406,-0.025520
Longitude,-0.113783,-0.007142,0.037239,1.000000,0.004703,0.208205,0.210365,0.051455,-0.116079,-0.290285
Depth,-0.024589,-0.008839,-0.352422,0.004703,1.000000,0.275529,0.341343,0.013232,-0.024409,-0.035119
Magnitude Type,0.001338,-0.007248,-0.174786,0.208205,0.275529,1.000000,0.610475,0.067137,0.000658,-0.084028
Magnitude,-0.062412,-0.011687,-0.445897,0.210365,0.341343,0.610475,1.000000,0.076275,-0.060636,0.012802
Region Name,-0.009879,0.006121,-0.093540,0.051455,0.013232,0.067137,0.076275,1.000000,-0.010553,-0.039399
Last Update,0.973941,0.004545,-0.011406,-0.116079,-0.024409,0.000658,-0.060636,-0.010553,1.000000,0.044403
Eqid,0.038718,-0.002454,-0.025520,-0.290285,-0.035119,-0.084028,0.012802,-0.039399,0.044403,1.000000

Use Column With Correlation Value >= 0,9

In [20]:
# if the correlation value = 1, remove it 

columns = np.full((corr.shape[0],), True, dtype=bool)
for i in range(corr.shape[0]):
    for j in range(i+1, corr.shape[0]):
        if corr.iloc[i,j] >= 0.9:
            if columns[j]:
                columns[j] == False

In [21]:
# select the attribute with correlation value less than 0,9
selected_columns = data_for_visualization.columns[columns]

In [22]:
# We get the attribute that we will use or process
attribute_to_use = list(selected_columns)

In [23]:
display("Attribute after check correlation :", attribute_to_use)

'Attribute after check correlation :'

['Date',
 'Time UTC',
 'Latitude',
 'Longitude',
 'Depth',
 'Magnitude Type',
 'Magnitude',
 'Region Name',
 'Last Update',
 'Eqid']

In [24]:
# New Dataset with attribute based on attribute we get from visualization
Dataset = data_for_process[attribute_to_use]
Dataset_visual = data_for_visualization[attribute_to_use]
Data_before_transformation = Dataset
Data_visual_before_transformation = Dataset_visual

In [25]:
display("Dataset Vizualisation before Data Transformation :", Data_visual_before_transformation)

'Dataset Vizualisation before Data Transformation :'

,Date,Time UTC,Latitude,Longitude,Depth,Magnitude Type,Magnitude,Region Name,Last Update,Eqid
0,1000,60855,19.34,-155.15,1,10,2.1,327,107429,750458
1,1000,60550,36.93,-5.27,24,4,2.6,928,107427,750457
2,1000,59809,37.76,14.50,10,4,2.0,834,107425,750455
3,1000,59518,-4.86,134.01,35,15,4.2,508,107426,750453
4,1000,58406,69.63,-144.41,10,15,4.5,584,107423,750451
5,1000,58358,36.98,-5.28,10,4,4.0,928,107428,750450
6,1000,56589,-28.64,-70.40,88,4,4.0,38,107420,750448
7,1000,41454,0.11,119.74,35,15,4.3,451,107421,750427
8,1000,40928,66.33,-157.31,10,4,2.6,584,107418,750442
9,1000,40111,31.02,-87.26,5,15,2.3,6,107424,750454
10,1000,39657,45.78,26.65,75,4,3.2,772,107415,750423
11,1000,38758,39.35,-122.35,4,7,2.9,586,107409,750420
12,1000,38736,36.92,-5.35,1,4,2.1,928,107410,750421
13,1000,3001,36.87,-5.17,17,4,2.4,928,107408,750419
14,1000,2874,36.66,28.19,50,4,2.3,177,107412,750424
15,1000,2838,66.18,-157.42,1,4,3.0,584,107414,750418
16,1000,2016,66.30,-157.22,0,4,3.1,584,107413,750417
17,1000,1514,40.01,-122.75,11,7,2.2,586,107407,750416
18,1000,798,35.35,33.72,38,4,2.0,166,107411,750422
19,993,55193,-2.24,101.98,166,1,4.2,902,107406,750415
20,993,55080,35.75,-97.57,5,15,2.4,705,107402,750411
21,993,55030,-6.80,103.83,10,1,4.0,909,107405,750414
22,993,54807,39.75,25.64,8,4,2.9,3,106727,750409
23,993,54737,-2.33,128.29,23,1,3.8,125,107404,750413
24,993,52881,19.40,-155.29,1,7,2.2,327,106724,750405
25,993,52095,16.97,-99.74,39,1,3.5,274,107419,750443
26,993,51651,19.02,-65.18,53,7,3.2,749,106726,750408
27,993,50708,35.47,-115.54,0,16,2.1,888,107403,750412
28,993,50272,16.54,-98.62,43,1,3.2,274,107419,750444
29,993,49907,-23.47,-69.07,82,4,3.5,22,106721,750402
...,...,...,...,...,...,...,...,...,...,...
301966,0,75363,46.89,151.07,46,15,5.6,375,28,299135
301967,0,74010,-30.27,-70.95,18,4,3.0,154,78,299132
301968,0,73123,43.04,-0.26,5,4,2.6,753,76,299128
301969,0,72860,39.81,42.66,8,4,2.2,218,76,299129
301970,0,71954,43.06,-0.20,10,4,2.6,753,2,299151
301971,0,71954,36.59,28.34,35,4,2.1,177,75,299126
301972,0,71839,43.12,-0.23,2,4,3.3,753,27,299125
301973,0,71769,34.94,23.45,17,4,2.1,160,8181,299311
301974,0,71000,-34.19,-72.18,22,4,2.8,691,79,299133
301975,0,70802,43.00,-0.22,2,4,2.6,753,74,299123
301976,0,70403,43.16,-0.18,2,4,3.5,753,73,299119
301977,0,70399,38.87,45.47,20,4,3.5,606,26,299124
301978,0,70159,43.06,-0.27,2,4,2.8,753,72,299120
301979,0,69189,48.37,8.99,3,4,2.1,255,25,299117
301980,0,68430,15.64,-98.50,20,15,4.4,692,15911,299118
301981,0,67895,43.05,-0.24,2,4,2.9,753,71,299115
301982,0,67646,35.75,25.83,8,4,2.8,160,15910,299114
301983,0,67636,38.80,41.85,5,4,2.0,218,69,299112
301984,0,67613,38.64,15.50,74,4,2.0,834,70,299113
301985,0,63400,36.47,71.31,113,15,4.5,304,22,299109
301986,0,62572,36.27,28.14,41,4,2.2,177,68,299108
301987,0,62563,39.42,23.99,9,4,2.2,3,34,299183
301988,0,62449,-36.98,-74.10,18,4,3.6,673,80,299134
301989,0,62395,-20.81,-69.67,56,15,4.9,954,21,299131
301990,0,61806,36.54,34.04,5,4,2.3,124,67,299107
301991,0,61281,40.47,141.51,100,15,4.6,499,20,299106
301992,0,57014,-21.24,-68.91,116,4,2.6,954,77,299130
301993,0,41523,37.25,12.24,10,2,2.4,834,66,299105
301994,0,3428,38.48,26.80,18,4,2.0,522,56,299103
301995,0,2080,38.14,27.05,10,4,2.1,1045,1,299102

In [26]:
display("Dataset before Data Transformation :", Data_before_transformation)

'Dataset before Data Transformation :'

,Date,Time UTC,Latitude,Longitude,Depth,Magnitude Type,Magnitude,Region Name,Last Update,Eqid
0,3/13/2019,3:24:48,19.34,-155.15,1,Ml,2.1,"ISLAND OF HAWAII, HAWAII",3/13/2019 3:30,750458
1,3/13/2019,3:19:34,36.93,-5.27,24,ML,2.6,STRAIT OF GIBRALTAR,3/13/2019 3:24,750457
2,3/13/2019,3:06:49,37.76,14.50,10,ML,2.0,"SICILY, ITALY",3/13/2019 3:12,750455
3,3/13/2019,3:01:50,-4.86,134.01,35,mb,4.2,"NEAR S COAST OF PAPUA, INDONESIA",3/13/2019 3:14,750453
4,3/13/2019,2:42:25,69.63,-144.41,10,mb,4.5,NORTHERN ALASKA,3/13/2019 3:07,750451
5,3/13/2019,2:41:37,36.98,-5.28,10,ML,4.0,STRAIT OF GIBRALTAR,3/13/2019 3:26,750450
6,3/13/2019,2:11:01,-28.64,-70.40,88,ML,4.0,"ATACAMA, CHILE",3/13/2019 2:26,750448
7,3/13/2019,1:50:48,0.11,119.74,35,mb,4.3,"MINAHASA, SULAWESI, INDONESIA",3/13/2019 2:41,750427
8,3/13/2019,1:41:45,66.33,-157.31,10,ML,2.6,NORTHERN ALASKA,3/13/2019 2:03,750442
9,3/13/2019,1:27:43,31.02,-87.26,5,mb,2.3,ALABAMA,3/13/2019 3:10,750454
10,3/13/2019,1:19:49,45.78,26.65,75,ML,3.2,ROMANIA,3/13/2019 1:58,750423
11,3/13/2019,1:04:21,39.35,-122.35,4,Md,2.9,NORTHERN CALIFORNIA,3/13/2019 1:07,750420
12,3/13/2019,1:03:58,36.92,-5.35,1,ML,2.1,STRAIT OF GIBRALTAR,3/13/2019 1:10,750421
13,3/13/2019,0:51:40,36.87,-5.17,17,ML,2.4,STRAIT OF GIBRALTAR,3/13/2019 0:56,750419
14,3/13/2019,0:49:27,36.66,28.19,50,ML,2.3,DODECANESE IS.-TURKEY BORDER REG,3/13/2019 1:26,750424
15,3/13/2019,0:48:47,66.18,-157.42,1,ML,3.0,NORTHERN ALASKA,3/13/2019 1:45,750418
16,3/13/2019,0:34:39,66.30,-157.22,0,ML,3.1,NORTHERN ALASKA,3/13/2019 1:39,750417
17,3/13/2019,0:26:04,40.01,-122.75,11,Md,2.2,NORTHERN CALIFORNIA,3/13/2019 0:27,750416
18,3/13/2019,0:13:47,35.35,33.72,38,ML,2.0,CYPRUS REGION,3/13/2019 1:22,750422
19,3/12/2019,23:47:00,-2.24,101.98,166,M,4.2,"SOUTHERN SUMATRA, INDONESIA",3/13/2019 0:15,750415
20,3/12/2019,23:45:05,35.75,-97.57,5,mb,2.4,OKLAHOMA,3/13/2019 0:03,750411
21,3/12/2019,23:44:12,-6.80,103.83,10,M,4.0,"SOUTHWEST OF SUMATRA, INDONESIA",3/13/2019 0:10,750414
22,3/12/2019,23:40:24,39.75,25.64,8,ML,2.9,AEGEAN SEA,3/12/2019 23:53,750409
23,3/12/2019,23:39:13,-2.33,128.29,23,M,3.8,"CERAM SEA, INDONESIA",3/13/2019 0:05,750413
24,3/12/2019,23:07:16,19.40,-155.29,1,Md,2.2,"ISLAND OF HAWAII, HAWAII",3/12/2019 23:10,750405
25,3/12/2019,22:53:52,16.97,-99.74,39,M,3.5,"GUERRERO, MEXICO",3/13/2019 2:05,750443
26,3/12/2019,22:46:14,19.02,-65.18,53,Md,3.2,PUERTO RICO REGION,3/12/2019 23:30,750408
27,3/12/2019,22:30:16,35.47,-115.54,0,ml,2.1,SOUTHERN CALIFORNIA,3/13/2019 0:04,750412
28,3/12/2019,22:22:41,16.54,-98.62,43,M,3.2,"GUERRERO, MEXICO",3/13/2019 2:05,750444
29,3/12/2019,22:16:29,-23.47,-69.07,82,ML,3.5,"ANTOFAGASTA, CHILE",3/12/2019 22:37,750402
...,...,...,...,...,...,...,...,...,...,...
301966,1/1/2013,7:35:50,46.89,151.07,46,mb,5.6,KURIL ISLANDS,1/1/2013 14:20,299135
301967,1/1/2013,7:12:25,-30.27,-70.95,18,ML,3.0,"COQUIMBO, CHILE",1/1/2013 7:28,299132
301968,1/1/2013,6:57:11,43.04,-0.26,5,ML,2.6,PYRENEES,1/1/2013 7:05,299128
301969,1/1/2013,6:52:38,39.81,42.66,8,ML,2.2,EASTERN TURKEY,1/1/2013 7:05,299129
301970,1/1/2013,6:36:57,43.06,-0.20,10,ML,2.6,PYRENEES,1/1/2013 10:14,299151
301971,1/1/2013,6:36:57,36.59,28.34,35,ML,2.1,DODECANESE IS.-TURKEY BORDER REG,1/1/2013 6:51,299126
301972,1/1/2013,6:34:57,43.12,-0.23,2,ML,3.3,PYRENEES,1/1/2013 14:19,299125
301973,1/1/2013,6:33:45,34.94,23.45,17,ML,2.1,"CRETE, GREECE",1/2/2013 13:23,299311
301974,1/1/2013,6:20:22,-34.19,-72.18,22,ML,2.8,"OFFSHORE O'HIGGINS, CHILE",1/1/2013 7:36,299133
301975,1/1/2013,6:16:59,43.00,-0.22,2,ML,2.6,PYRENEES,1/1/2013 6:25,299123
301976,1/1/2013,6:10:05,43.16,-0.18,2,ML,3.5,PYRENEES,1/1/2013 6:23,299119
301977,1/1/2013,6:10:01,38.87,45.47,20,ML,3.5,NORTHWESTERN IRAN,1/1/2013 14:17,299124
301978,1/1/2013,6:05:50,43.06,-0.27,2,ML,2.8,PYRENEES,1/1/2013 6:13,299120
301979,1/1/2013,5:48:55,48.37,8.99,3,ML,2.1,GERMANY,1/1/2013 14:16,299117
301980,1/1/2013,5:35:48,15.64,-98.50,20,mb,4.4,"OFFSHORE OAXACA, MEXICO",1/3/2013 8:17,299118
301981,1/1/2013,5:26:26,43.05,-0.24,2,ML,2.9,PYRENEES,1/1/2013 5:37,299115
301982,1/1/2013,5:22:07,35.75,25.83,8,ML,2.8,"CRETE, GREECE",1/3/2013 8:08,299114
301983,1/1/2013,5:21:57,38.80,41.85,5,ML,2.0,EASTERN TURKEY,1/1/2013 5:30,299112
301984,1/1/2013,5:21:31,38.64,15.50,74,ML,2.0,"SICILY, ITALY",1/1/2013 5:31,299113
301985,1/1/2013,4:08:35,36.47,71.31,113,mb,4.5,"HINDU KUSH REGION, AFGHANISTAN",1/1/2013 14:11,299109
301986,1/1/2013,3:54:16,36.27,28.14,41,ML,2.2,DODECANESE IS.-TURKEY BORDER REG,1/1/2013 4:01,299108
301987,1/1/2013,3:54:07,39.42,23.99,9,ML,2.2,AEGEAN SEA,1/1/2013 14:27,299183
301988,1/1/2013,3:52:11,-36.98,-74.10,18,ML,3.6,"OFFSHORE BIO-BIO, CHILE",1/1/2013 7:41,299134
301989,1/1/2013,3:51:13,-20.81,-69.67,56,mb,4.9,"TARAPACA, CHILE",1/1/2013 14:09,299131
301990,1/1/2013,3:41:10,36.54,34.04,5,ML,2.3,CENTRAL TURKEY,1/1/2013 3:58,299107
301991,1/1/2013,3:32:12,40.47,141.51,100,mb,4.6,"NEAR EAST COAST OF HONSHU, JAPAN",1/1/2013 14:08,299106
301992,1/1/2013,2:18:20,-21.24,-68.91,116,ML,2.6,"TARAPACA, CHILE",1/1/2013 7:18,299130
301993,1/1/2013,1:51:59,37.25,12.24,10,M,2.4,"SICILY, ITALY",1/1/2013 2:01,299105
301994,1/1/2013,0:59:04,38.48,26.80,18,ML,2.0,NEAR THE COAST OF WESTERN TURKEY,1/1/2013 1:08,299103
301995,1/1/2013,0:35:43,38.14,27.05,10,ML,2.1,WESTERN TURKEY,1/1/2013 0:45,299102

In [27]:
Data_before_transformation.to_csv('Data after Data Selection.csv', index = False)

## 1.2. Binning

In [28]:
# Check for attribute to binning which is attribute in new dataset with numeric values
atribut_mau_dibinning = []
for i in Dataset.columns:
    if i in attribute_numeric:
        atribut_mau_dibinning.append(i)

In [29]:
display("Attribute(s) for binning :", atribut_mau_dibinning)

'Attribute(s) for binning :'

['Latitude', 'Longitude', 'Depth', 'Magnitude', 'Eqid']

### 1.2.1. Binning Process

In [30]:
# // Binning Process //
dataframelabel = []
for att in atribut_mau_dibinning:
    atribut_name = Dataset[att]
    max_value = atribut_name.max()
    min_value = atribut_name.min()
    n = len(atribut_name)
    cbrt = n ** (1. / 3)
    data_describe = atribut_name.describe()
    Q1 = data_describe['25%']
    Q2 = data_describe['50%']
    Q3 = data_describe['75%']
    interquartile = Q3 - Q1
    
    # Bins
    bins = int(round((max_value - min_value) /  (2 *  (interquartile / cbrt))))

    # Binwidth
    binwidth = round((2 * (interquartile/cbrt)),2)
    
#     print("Length of Data =", n)
#     print("Max Value =", max_value)
#     print("Min Value =", min_value)
#     print("Cuberoot       =", cbrt)
#     print("Q1             =", Q1)
#     print("Q2             =", Q2)
#     print("Q3             =", Q3)
#     print("Interquartile  =", interquartile)
#     print("Number of Bins =", bins)
#     print("Bin Width      =", binwidth)

    # List of bins
    bins_list = []
    for bins_number in range(bins):
    #     bins_list.append("%.2f" % bins_number)
        x = bins_number * binwidth
        jumlah = round((float(max_value) - x),2)
        bins_list.append(jumlah)
    bins_list = sorted(bins_list, key=float)
    
    # List of bin label
    # bin labels
    bin_labels = []
    for label in range(int(bins)):
        value = att + ' ' +str(label)
        bin_labels.append(value)
        
    for i in range(1):
        df_label = pd.DataFrame({'Bins':bins_list,
                             'Label':bin_labels})
        
    dataframelabel.append(df_label)
    
    DataFrameBin = pd.DataFrame({'Bin': bins_list})
    
    # Binning Process
    # select value with header
    data_list = [('nums', Dataset[att])]

    # # Create the labels for the bin
    # bin_labels = ['Lat1','Lat2','Lat3','Lat4','Lat5','Lat6','Lat7','Lat8','Lat9']

    # Create the dataframe object using the data_list
    df = pd.DataFrame.from_items(data_list)

    # Define the scope of the bins
    # ['bound1' , 'bound2' = 1]
    # ['bound2' , 'bound3' = 2]
    # ['bound3' , 'bound4' = 3]
    # ['bound4' , 'bound5' = 4]

    # bins = [bound1, bound2, bound3, bound4, bound5]

    # Create the "bins" column using the cut function
    df[att + '_bins'] = pd.cut(df['nums'], bins=bins, labels=bin_labels)
    
    del Dataset[att]
    Dataset[att + '_bins'] = df[att + '_bins']

C:\Program Files (x86)\Anaconda\lib\site-packages\ipykernel_launcher.py:64: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.

### 1.2.2. Label of Binning

In [31]:
for f in range(len(atribut_mau_dibinning)):
    g = dataframelabel[f]
    display(g)
    g.to_csv('Nilai Binning %s.csv' %(f), index = False)

      Bins         Label
0   -78.59    Latitude 0
1   -77.93    Latitude 1
2   -77.27    Latitude 2
3   -76.61    Latitude 3
4   -75.95    Latitude 4
5   -75.29    Latitude 5
6   -74.63    Latitude 6
7   -73.97    Latitude 7
8   -73.31    Latitude 8
9   -72.65    Latitude 9
10  -71.99   Latitude 10
11  -71.33   Latitude 11
12  -70.67   Latitude 12
13  -70.01   Latitude 13
14  -69.35   Latitude 14
15  -68.69   Latitude 15
16  -68.03   Latitude 16
17  -67.37   Latitude 17
18  -66.71   Latitude 18
19  -66.05   Latitude 19
20  -65.39   Latitude 20
21  -64.73   Latitude 21
22  -64.07   Latitude 22
23  -63.41   Latitude 23
24  -62.75   Latitude 24
25  -62.09   Latitude 25
26  -61.43   Latitude 26
27  -60.77   Latitude 27
28  -60.11   Latitude 28
29  -59.45   Latitude 29
..     ...           ...
222  67.93  Latitude 222
223  68.59  Latitude 223
224  69.25  Latitude 224
225  69.91  Latitude 225
226  70.57  Latitude 226
227  71.23  Latitude 227
228  71.89  Latitude 228
229  72.55  Latitude 229
230  73.21  Latitude 230
231  73.87  Latitude 231
232  74.53  Latitude 232
233  75.19  Latitude 233
234  75.85  Latitude 234
235  76.51  Latitude 235
236  77.17  Latitude 236
237  77.83  Latitude 237
238  78.49  Latitude 238
239  79.15  Latitude 239
240  79.81  Latitude 240
241  80.47  Latitude 241
242  81.13  Latitude 242
243  81.79  Latitude 243
244  82.45  Latitude 244
245  83.11  Latitude 245
246  83.77  Latitude 246
247  84.43  Latitude 247
248  85.09  Latitude 248
249  85.75  Latitude 249
250  86.41  Latitude 250
251  87.07  Latitude 251

[252 rows x 2 columns]

      Bins         Label
0  -175.32   Longitude 0
1  -171.54   Longitude 1
2  -167.76   Longitude 2
3  -163.98   Longitude 3
4  -160.20   Longitude 4
5  -156.42   Longitude 5
6  -152.64   Longitude 6
7  -148.86   Longitude 7
8  -145.08   Longitude 8
9  -141.30   Longitude 9
10 -137.52  Longitude 10
11 -133.74  Longitude 11
12 -129.96  Longitude 12
13 -126.18  Longitude 13
14 -122.40  Longitude 14
15 -118.62  Longitude 15
16 -114.84  Longitude 16
17 -111.06  Longitude 17
18 -107.28  Longitude 18
19 -103.50  Longitude 19
20  -99.72  Longitude 20
21  -95.94  Longitude 21
22  -92.16  Longitude 22
23  -88.38  Longitude 23
24  -84.60  Longitude 24
25  -80.82  Longitude 25
26  -77.04  Longitude 26
27  -73.26  Longitude 27
28  -69.48  Longitude 28
29  -65.70  Longitude 29
..     ...           ...
65   70.38  Longitude 65
66   74.16  Longitude 66
67   77.94  Longitude 67
68   81.72  Longitude 68
69   85.50  Longitude 69
70   89.28  Longitude 70
71   93.06  Longitude 71
72   96.84  Longitude 72
73  100.62  Longitude 73
74  104.40  Longitude 74
75  108.18  Longitude 75
76  111.96  Longitude 76
77  115.74  Longitude 77
78  119.52  Longitude 78
79  123.30  Longitude 79
80  127.08  Longitude 80
81  130.86  Longitude 81
82  134.64  Longitude 82
83  138.42  Longitude 83
84  142.20  Longitude 84
85  145.98  Longitude 85
86  149.76  Longitude 86
87  153.54  Longitude 87
88  157.32  Longitude 88
89  161.10  Longitude 89
90  164.88  Longitude 90
91  168.66  Longitude 91
92  172.44  Longitude 92
93  176.22  Longitude 93
94  180.00  Longitude 94

[95 rows x 2 columns]

        Bins       Label
0      -8.25     Depth 0
1      -7.50     Depth 1
2      -6.75     Depth 2
3      -6.00     Depth 3
4      -5.25     Depth 4
5      -4.50     Depth 5
6      -3.75     Depth 6
7      -3.00     Depth 7
8      -2.25     Depth 8
9      -1.50     Depth 9
10     -0.75    Depth 10
11      0.00    Depth 11
12      0.75    Depth 12
13      1.50    Depth 13
14      2.25    Depth 14
15      3.00    Depth 15
16      3.75    Depth 16
17      4.50    Depth 17
18      5.25    Depth 18
19      6.00    Depth 19
20      6.75    Depth 20
21      7.50    Depth 21
22      8.25    Depth 22
23      9.00    Depth 23
24      9.75    Depth 24
25     10.50    Depth 25
26     11.25    Depth 26
27     12.00    Depth 27
28     12.75    Depth 28
29     13.50    Depth 29
...      ...         ...
982   728.25   Depth 982
983   729.00   Depth 983
984   729.75   Depth 984
985   730.50   Depth 985
986   731.25   Depth 986
987   732.00   Depth 987
988   732.75   Depth 988
989   733.50   Depth 989
990   734.25   Depth 990
991   735.00   Depth 991
992   735.75   Depth 992
993   736.50   Depth 993
994   737.25   Depth 994
995   738.00   Depth 995
996   738.75   Depth 996
997   739.50   Depth 997
998   740.25   Depth 998
999   741.00   Depth 999
1000  741.75  Depth 1000
1001  742.50  Depth 1001
1002  743.25  Depth 1002
1003  744.00  Depth 1003
1004  744.75  Depth 1004
1005  745.50  Depth 1005
1006  746.25  Depth 1006
1007  747.00  Depth 1007
1008  747.75  Depth 1008
1009  748.50  Depth 1009
1010  749.25  Depth 1010
1011  750.00  Depth 1011

[1012 rows x 2 columns]

     Bins          Label
0    0.58    Magnitude 0
1    0.62    Magnitude 1
2    0.66    Magnitude 2
3    0.70    Magnitude 3
4    0.74    Magnitude 4
5    0.78    Magnitude 5
6    0.82    Magnitude 6
7    0.86    Magnitude 7
8    0.90    Magnitude 8
9    0.94    Magnitude 9
10   0.98   Magnitude 10
11   1.02   Magnitude 11
12   1.06   Magnitude 12
13   1.10   Magnitude 13
14   1.14   Magnitude 14
15   1.18   Magnitude 15
16   1.22   Magnitude 16
17   1.26   Magnitude 17
18   1.30   Magnitude 18
19   1.34   Magnitude 19
20   1.38   Magnitude 20
21   1.42   Magnitude 21
22   1.46   Magnitude 22
23   1.50   Magnitude 23
24   1.54   Magnitude 24
25   1.58   Magnitude 25
26   1.62   Magnitude 26
27   1.66   Magnitude 27
28   1.70   Magnitude 28
29   1.74   Magnitude 29
..    ...            ...
164  7.14  Magnitude 164
165  7.18  Magnitude 165
166  7.22  Magnitude 166
167  7.26  Magnitude 167
168  7.30  Magnitude 168
169  7.34  Magnitude 169
170  7.38  Magnitude 170
171  7.42  Magnitude 171
172  7.46  Magnitude 172
173  7.50  Magnitude 173
174  7.54  Magnitude 174
175  7.58  Magnitude 175
176  7.62  Magnitude 176
177  7.66  Magnitude 177
178  7.70  Magnitude 178
179  7.74  Magnitude 179
180  7.78  Magnitude 180
181  7.82  Magnitude 181
182  7.86  Magnitude 182
183  7.90  Magnitude 183
184  7.94  Magnitude 184
185  7.98  Magnitude 185
186  8.02  Magnitude 186
187  8.06  Magnitude 187
188  8.10  Magnitude 188
189  8.14  Magnitude 189
190  8.18  Magnitude 190
191  8.22  Magnitude 191
192  8.26  Magnitude 192
193  8.30  Magnitude 193

[194 rows x 2 columns]

         Bins    Label
0   306919.44   Eqid 0
1   313849.73   Eqid 1
2   320780.02   Eqid 2
3   327710.31   Eqid 3
4   334640.60   Eqid 4
5   341570.89   Eqid 5
6   348501.18   Eqid 6
7   355431.47   Eqid 7
8   362361.76   Eqid 8
9   369292.05   Eqid 9
10  376222.34  Eqid 10
11  383152.63  Eqid 11
12  390082.92  Eqid 12
13  397013.21  Eqid 13
14  403943.50  Eqid 14
15  410873.79  Eqid 15
16  417804.08  Eqid 16
17  424734.37  Eqid 17
18  431664.66  Eqid 18
19  438594.95  Eqid 19
20  445525.24  Eqid 20
21  452455.53  Eqid 21
22  459385.82  Eqid 22
23  466316.11  Eqid 23
24  473246.40  Eqid 24
25  480176.69  Eqid 25
26  487106.98  Eqid 26
27  494037.27  Eqid 27
28  500967.56  Eqid 28
29  507897.85  Eqid 29
..        ...      ...
35  549479.59  Eqid 35
36  556409.88  Eqid 36
37  563340.17  Eqid 37
38  570270.46  Eqid 38
39  577200.75  Eqid 39
40  584131.04  Eqid 40
41  591061.33  Eqid 41
42  597991.62  Eqid 42
43  604921.91  Eqid 43
44  611852.20  Eqid 44
45  618782.49  Eqid 45
46  625712.78  Eqid 46
47  632643.07  Eqid 47
48  639573.36  Eqid 48
49  646503.65  Eqid 49
50  653433.94  Eqid 50
51  660364.23  Eqid 51
52  667294.52  Eqid 52
53  674224.81  Eqid 53
54  681155.10  Eqid 54
55  688085.39  Eqid 55
56  695015.68  Eqid 56
57  701945.97  Eqid 57
58  708876.26  Eqid 58
59  715806.55  Eqid 59
60  722736.84  Eqid 60
61  729667.13  Eqid 61
62  736597.42  Eqid 62
63  743527.71  Eqid 63
64  750458.00  Eqid 64

[65 rows x 2 columns]

## 1.3. Labelling

In [32]:
# Check for attribute to labeled which is attribute in new dataset with nominal values
atribut_mau_dilabel = []
for att_mau_dilabel in Dataset.columns:
    if att_mau_dilabel in attribute_nominal:
        atribut_mau_dilabel.append(att_mau_dilabel)

In [33]:
atribut_mau_dilabel

['Date', 'Time UTC', 'Magnitude Type', 'Region Name', 'Last Update']

### 1.3.1. Labelling Process

In [34]:
# // Labeling Process //
for atribut_label in atribut_mau_dilabel:
    Dataset[atribut_label] = atribut_label + ' ' + Dataset[atribut_label].astype(str)

In [35]:
Dataset = Dataset

## Dataset Ready to Process

In [36]:
display("Dataset for Process", Dataset)

'Dataset for Process'

,Date,Time UTC,Magnitude Type,Region Name,Last Update,Latitude_bins,Longitude_bins,Depth_bins,Magnitude_bins,Eqid_bins
0,Date 3/13/2019,Time UTC 3:24:48,Magnitude Type Ml,"Region Name ISLAND OF HAWAII, HAWAII",Last Update 3/13/2019 3:30,Latitude 148,Longitude 6,Depth 6,Magnitude 33,Eqid 64
1,Date 3/13/2019,Time UTC 3:19:34,Magnitude Type ML,Region Name STRAIT OF GIBRALTAR,Last Update 3/13/2019 3:24,Latitude 175,Longitude 46,Depth 37,Magnitude 46,Eqid 64
2,Date 3/13/2019,Time UTC 3:06:49,Magnitude Type ML,"Region Name SICILY, ITALY",Last Update 3/13/2019 3:12,Latitude 176,Longitude 51,Depth 18,Magnitude 31,Eqid 64
3,Date 3/13/2019,Time UTC 3:01:50,Magnitude Type mb,"Region Name NEAR S COAST OF PAPUA, INDONESIA",Last Update 3/13/2019 3:14,Latitude 111,Longitude 82,Depth 52,Magnitude 87,Eqid 64
4,Date 3/13/2019,Time UTC 2:42:25,Magnitude Type mb,Region Name NORTHERN ALASKA,Last Update 3/13/2019 3:07,Latitude 225,Longitude 9,Depth 18,Magnitude 95,Eqid 64
5,Date 3/13/2019,Time UTC 2:41:37,Magnitude Type ML,Region Name STRAIT OF GIBRALTAR,Last Update 3/13/2019 3:26,Latitude 175,Longitude 46,Depth 18,Magnitude 82,Eqid 64
6,Date 3/13/2019,Time UTC 2:11:01,Magnitude Type ML,"Region Name ATACAMA, CHILE",Last Update 3/13/2019 2:26,Latitude 75,Longitude 28,Depth 123,Magnitude 82,Eqid 64
7,Date 3/13/2019,Time UTC 1:50:48,Magnitude Type mb,"Region Name MINAHASA, SULAWESI, INDONESIA",Last Update 3/13/2019 2:41,Latitude 119,Longitude 79,Depth 52,Magnitude 90,Eqid 64
8,Date 3/13/2019,Time UTC 1:41:45,Magnitude Type ML,Region Name NORTHERN ALASKA,Last Update 3/13/2019 2:03,Latitude 220,Longitude 5,Depth 18,Magnitude 46,Eqid 64
9,Date 3/13/2019,Time UTC 1:27:43,Magnitude Type mb,Region Name ALABAMA,Last Update 3/13/2019 3:10,Latitude 166,Longitude 24,Depth 12,Magnitude 38,Eqid 64
10,Date 3/13/2019,Time UTC 1:19:49,Magnitude Type ML,Region Name ROMANIA,Last Update 3/13/2019 1:58,Latitude 189,Longitude 54,Depth 106,Magnitude 62,Eqid 64
11,Date 3/13/2019,Time UTC 1:04:21,Magnitude Type Md,Region Name NORTHERN CALIFORNIA,Last Update 3/13/2019 1:07,Latitude 179,Longitude 15,Depth 10,Magnitude 54,Eqid 64
12,Date 3/13/2019,Time UTC 1:03:58,Magnitude Type ML,Region Name STRAIT OF GIBRALTAR,Last Update 3/13/2019 1:10,Latitude 175,Longitude 46,Depth 6,Magnitude 33,Eqid 64
13,Date 3/13/2019,Time UTC 0:51:40,Magnitude Type ML,Region Name STRAIT OF GIBRALTAR,Last Update 3/13/2019 0:56,Latitude 175,Longitude 46,Depth 28,Magnitude 41,Eqid 64
14,Date 3/13/2019,Time UTC 0:49:27,Magnitude Type ML,Region Name DODECANESE IS.-TURKEY BORDER REG,Last Update 3/13/2019 1:26,Latitude 175,Longitude 54,Depth 72,Magnitude 38,Eqid 64
15,Date 3/13/2019,Time UTC 0:48:47,Magnitude Type ML,Region Name NORTHERN ALASKA,Last Update 3/13/2019 1:45,Latitude 220,Longitude 5,Depth 6,Magnitude 56,Eqid 64
16,Date 3/13/2019,Time UTC 0:34:39,Magnitude Type ML,Region Name NORTHERN ALASKA,Last Update 3/13/2019 1:39,Latitude 220,Longitude 6,Depth 5,Magnitude 59,Eqid 64
17,Date 3/13/2019,Time UTC 0:26:04,Magnitude Type Md,Region Name NORTHERN CALIFORNIA,Last Update 3/13/2019 0:27,Latitude 180,Longitude 15,Depth 20,Magnitude 36,Eqid 64
18,Date 3/13/2019,Time UTC 0:13:47,Magnitude Type ML,Region Name CYPRUS REGION,Last Update 3/13/2019 1:22,Latitude 173,Longitude 56,Depth 56,Magnitude 31,Eqid 64
19,Date 3/12/2019,Time UTC 23:47:00,Magnitude Type M,"Region Name SOUTHERN SUMATRA, INDONESIA",Last Update 3/13/2019 0:15,Latitude 115,Longitude 74,Depth 228,Magnitude 87,Eqid 64
20,Date 3/12/2019,Time UTC 23:45:05,Magnitude Type mb,Region Name OKLAHOMA,Last Update 3/13/2019 0:03,Latitude 173,Longitude 21,Depth 12,Magnitude 41,Eqid 64
21,Date 3/12/2019,Time UTC 23:44:12,Magnitude Type M,"Region Name SOUTHWEST OF SUMATRA, INDONESIA",Last Update 3/13/2019 0:10,Latitude 108,Longitude 74,Depth 18,Magnitude 82,Eqid 64
22,Date 3/12/2019,Time UTC 23:40:24,Magnitude Type ML,Region Name AEGEAN SEA,Last Update 3/12/2019 23:53,Latitude 179,Longitude 54,Depth 16,Magnitude 54,Eqid 64
23,Date 3/12/2019,Time UTC 23:39:13,Magnitude Type M,"Region Name CERAM SEA, INDONESIA",Last Update 3/13/2019 0:05,Latitude 115,Longitude 81,Depth 36,Magnitude 77,Eqid 64
24,Date 3/12/2019,Time UTC 23:07:16,Magnitude Type Md,"Region Name ISLAND OF HAWAII, HAWAII",Last Update 3/12/2019 23:10,Latitude 148,Longitude 6,Depth 6,Magnitude 36,Eqid 64
25,Date 3/12/2019,Time UTC 22:53:52,Magnitude Type M,"Region Name GUERRERO, MEXICO",Last Update 3/13/2019 2:05,Latitude 145,Longitude 21,Depth 57,Magnitude 69,Eqid 64
26,Date 3/12/2019,Time UTC 22:46:14,Magnitude Type Md,Region Name PUERTO RICO REGION,Last Update 3/12/2019 23:30,Latitude 148,Longitude 30,Depth 76,Magnitude 62,Eqid 64
27,Date 3/12/2019,Time UTC 22:30:16,Magnitude Type ml,Region Name SOUTHERN CALIFORNIA,Last Update 3/13/2019 0:04,Latitude 173,Longitude 17,Depth 5,Magnitude 33,Eqid 64
28,Date 3/12/2019,Time UTC 22:22:41,Magnitude Type M,"Region Name GUERRERO, MEXICO",Last Update 3/13/2019 2:05,Latitude 144,Longitude 21,Depth 63,Magnitude 62,Eqid 64
29,Date 3/12/2019,Time UTC 22:16:29,Magnitude Type ML,"Region Name ANTOFAGASTA, CHILE",Last Update 3/12/2019 22:37,Latitude 83,Longitude 29,Depth 115,Magnitude 69,Eqid 64
...,...,...,...,...,...,...,...,...,...,...
301966,Date 1/1/2013,Time UTC 7:35:50,Magnitude Type mb,Region Name KURIL ISLANDS,Last Update 1/1/2013 14:20,Latitude 190,Longitude 87,Depth 67,Magnitude 124,Eqid 0
301967,Date 1/1/2013,Time UTC 7:12:25,Magnitude Type ML,"Region Name COQUIMBO, CHILE",Last Update 1/1/2013 7:28,Latitude 73,Longitude 28,Depth 29,Magnitude 56,Eqid 0
301968,Date 1/1/2013,Time UTC 6:57:11,Magnitude Type ML,Region Name PYRENEES,Last Update 1/1/2013 7:05,Latitude 184,Longitude 47,Depth 12,Magnitude 46,Eqid 0
301969,Date 1/1/2013,Time UTC 6:52:38,Magnitude Type ML,Region Name EASTERN TURKEY,Last Update 1/1/2013 7:05,Latitude 179,Longitude 58,Depth 16,Magnitude 36,Eqid 0
301970,Date 1/1/2013,Time UTC 6:36:57,Magnitude Type ML,Region Name PYRENEES,Last Update 1/1/2013 10:14,Latitude 184,Longitude 47,Depth 18,Magnitude 46,Eqid 0
301971,Date 1/1/2013,Time UTC 6:36:57,Magnitude Type ML,Region Name DODECANESE IS.-TURKEY BORDER REG,Last Update 1/1/2013 6:51,Latitude 175,Longitude 54,Depth 52,Magnitude 33,Eqid 0
301972,Date 1/1/2013,Time UTC 6:34:57,Magnitude Type ML,Region Name PYRENEES,Last Update 1/1/2013 14:19,Latitude 185,Longitude 47,Depth 8,Magnitude 64,Eqid 0
301973,Date 1/1/2013,Time UTC 6:33:45,Magnitude Type ML,"Region Name CRETE, GREECE",Last Update 1/2/2013 13:23,Latitude 172,Longitude 53,Depth 28,Magnitude 33,Eqid 0
301974,Date 1/1/2013,Time UTC 6:20:22,Magnitude Type ML,"Region Name OFFSHORE O'HIGGINS, CHILE",Last Update 1/1/2013 7:36,Latitude 67,Longitude 28,Depth 34,Magnitude 51,Eqid 0
301975,Date 1/1/2013,Time UTC 6:16:59,Magnitude Type ML,Region Name PYRENEES,Last Update 1/1/2013 6:25,Latitude 184,Longitude 47,Depth 8,Magnitude 46,Eqid 0
301976,Date 1/1/2013,Time UTC 6:10:05,Magnitude Type ML,Region Name PYRENEES,Last Update 1/1/2013 6:23,Latitude 185,Longitude 47,Depth 8,Magnitude 69,Eqid 0
301977,Date 1/1/2013,Time UTC 6:10:01,Magnitude Type ML,Region Name NORTHWESTERN IRAN,Last Update 1/1/2013 14:17,Latitude 178,Longitude 59,Depth 32,Magnitude 69,Eqid 0
301978,Date 1/1/2013,Time UTC 6:05:50,Magnitude Type ML,Region Name PYRENEES,Last Update 1/1/2013 6:13,Latitude 184,Longitude 47,Depth 8,Magnitude 51,Eqid 0
301979,Date 1/1/2013,Time UTC 5:48:55,Magnitude Type ML,Region Name GERMANY,Last Update 1/1/2013 14:16,Latitude 193,Longitude 49,Depth 9,Magnitude 33,Eqid 0
301980,Date 1/1/2013,Time UTC 5:35:48,Magnitude Type mb,"Region Name OFFSHORE OAXACA, MEXICO",Last Update 1/3/2013 8:17,Latitude 143,Longitude 21,Depth 32,Magnitude 93,Eqid 0
301981,Date 1/1/2013,Time UTC 5:26:26,Magnitude Type ML,Region Name PYRENEES,Last Update 1/1/2013 5:37,Latitude 184,Longitude 47,Depth 8,Magnitude 54,Eqid 0
301982,Date 1/1/2013,Time UTC 5:22:07,Magnitude Type ML,"Region Name CRETE, GREECE",Last Update 1/3/2013 8:08,Latitude 173,Longitude 54,Depth 16,Magnitude 51,Eqid 0
301983,Date 1/1/2013,Time UTC 5:21:57,Magnitude Type ML,Region Name EASTERN TURKEY,Last Update 1/1/2013 5:30,Latitude 178,Longitude 58,Depth 12,Magnitude 31,Eqid 0
301984,Date 1/1/2013,Time UTC 5:21:31,Magnitude Type ML,"Region Name SICILY, ITALY",Last Update 1/1/2013 5:31,Latitude 178,Longitude 51,Depth 104,Magnitude 31,Eqid 0
301985,Date 1/1/2013,Time UTC 4:08:35,Magnitude Type mb,"Region Name HINDU KUSH REGION, AFGHANISTAN",Last Update 1/1/2013 14:11,Latitude 174,Longitude 66,Depth 157,Magnitude 95,Eqid 0
301986,Date 1/1/2013,Time UTC 3:54:16,Magnitude Type ML,Region Name DODECANESE IS.-TURKEY BORDER REG,Last Update 1/1/2013 4:01,Latitude 174,Longitude 54,Depth 60,Magnitude 36,Eqid 0
301987,Date 1/1/2013,Time UTC 3:54:07,Magnitude Type ML,Region Name AEGEAN SEA,Last Update 1/1/2013 14:27,Latitude 179,Longitude 53,Depth 17,Magnitude 36,Eqid 0
301988,Date 1/1/2013,Time UTC 3:52:11,Magnitude Type ML,"Region Name OFFSHORE BIO-BIO, CHILE",Last Update 1/1/2013 7:41,Latitude 63,Longitude 27,Depth 29,Magnitude 72,Eqid 0
301989,Date 1/1/2013,Time UTC 3:51:13,Magnitude Type mb,"Region Name TARAPACA, CHILE",Last Update 1/1/2013 14:09,Latitude 87,Longitude 29,Depth 80,Magnitude 106,Eqid 0
301990,Date 1/1/2013,Time UTC 3:41:10,Magnitude Type ML,Region Name CENTRAL TURKEY,Last Update 1/1/2013 3:58,Latitude 175,Longitude 56,Depth 12,Magnitude 38,Eqid 0
301991,Date 1/1/2013,Time UTC 3:32:12,Magnitude Type mb,"Region Name NEAR EAST COAST OF HONSHU, JAPAN",Last Update 1/1/2013 14:08,Latitude 181,Longitude 84,Depth 139,Magnitude 98,Eqid 0
301992,Date 1/1/2013,Time UTC 2:18:20,Magnitude Type ML,"Region Name TARAPACA, CHILE",Last Update 1/1/2013 7:18,Latitude 86,Longitude 29,Depth 161,Magnitude 46,Eqid 0
301993,Date 1/1/2013,Time UTC 1:51:59,Magnitude Type M,"Region Name SICILY, ITALY",Last Update 1/1/2013 2:01,Latitude 176,Longitude 50,Depth 18,Magnitude 41,Eqid 0
301994,Date 1/1/2013,Time UTC 0:59:04,Magnitude Type ML,Region Name NEAR THE COAST OF WESTERN TURKEY,Last Update 1/1/2013 1:08,Latitude 177,Longitude 54,Depth 29,Magnitude 31,Eqid 0
301995,Date 1/1/2013,Time UTC 0:35:43,Magnitude Type ML,Region Name WESTERN TURKEY,Last Update 1/1/2013 0:45,Latitude 177,Longitude 54,Depth 18,Magnitude 33,Eqid 0

In [37]:
Dataset.to_csv('Data after Data Preprocessing.csv', index = False)

# 2. Rules Mining [ FP-Growth Algorithm ]

## 2.1. Frequent Pattern Mining

In [38]:
# The data set to an array
data = Dataset.values.tolist()
# data = Dataset.T.apply(lambda x: x.dropna().tolist()).tolist()

if len(Dataset) <= 200:
    minsup = 2
else:
    minsup = round(0.01 * len(Dataset))
    
FrequentPattern = pyfpgrowth.find_frequent_patterns(data, minsup)

In [39]:
FrequentFrame = pd.DataFrame(list(FrequentPattern.items()), columns=['Itemsets', 'support'])

In [40]:
display("Frequent Pattern", FrequentFrame)

'Frequent Pattern'

                                              Itemsets  support
0                                       (Longitude 8,)     3069
1                                           (Eqid 12,)     3152
2                       (Region Name SOUTHERN ALASKA,)     3160
3                                      (Longitude 59,)     3178
4                                      (Latitude 143,)     3198
5                                           (Eqid 11,)     3205
6                                          (Depth 59,)     3238
7                                      (Latitude 171,)     3320
8                                      (Longitude 49,)     3410
9                    (Longitude 49, Magnitude Type ML)     3252
10                                     (Latitude 183,)     3416
11                  (Region Name NORTHERN CALIFORNIA,)     3421
12                                    (Magnitude 106,)     3482
13                  (Magnitude 106, Magnitude Type mb)     3096
14                                     (Latitude 147,)     3517
15                (Region Name VIRGIN ISLANDS REGION,)     3529
16   (Longitude 30, Region Name VIRGIN ISLANDS REGION)     3529
17                   (Region Name CENTRAL CALIFORNIA,)     3679
18                                         (Depth 45,)     3684
19                                     (Magnitude 80,)     3865
20                                          (Eqid 13,)     3883
21                                          (Eqid 37,)     3895
22    (Magnitude Type ML, Region Name TARAPACA, CHILE)     3596
23   (Longitude 29, Magnitude Type ML, Region Name ...     3493
24         (Longitude 29, Region Name TARAPACA, CHILE)     3786
25                                      (Longitude 0,)     3902
26                                          (Eqid 26,)     3913
27                           (Region Name AEGEAN SEA,)     3924
28         (Magnitude Type ML, Region Name AEGEAN SEA)     3889
29                                          (Eqid 38,)     3956
..                                                 ...      ...
424                  (Magnitude 31, Magnitude Type ML)    17310
425  (Magnitude 33, Region Name ISLAND OF HAWAII, H...     3457
426  (Latitude 148, Magnitude 33, Region Name ISLAN...     3336
427  (Longitude 6, Magnitude 33, Region Name ISLAND...     3457
428  (Latitude 148, Longitude 6, Magnitude 33, Regi...     3336
429                       (Latitude 148, Magnitude 33)     3584
430          (Latitude 148, Longitude 6, Magnitude 33)     3440
431                        (Longitude 6, Magnitude 33)     3682
432                       (Longitude 54, Magnitude 33)     3776
433    (Longitude 54, Magnitude 33, Magnitude Type ML)     3775
434                  (Magnitude 33, Magnitude Type ML)    17116
435  (Magnitude Type ML, Region Name ISLAND OF HAWA...    22795
436  (Latitude 148, Magnitude Type ML, Region Name ...    22309
437  (Longitude 6, Magnitude Type ML, Region Name I...    22795
438  (Latitude 148, Longitude 6, Magnitude Type ML,...    22309
439  (Latitude 148, Region Name ISLAND OF HAWAII, H...    27191
440  (Latitude 148, Longitude 6, Region Name ISLAND...    27191
441  (Longitude 6, Region Name ISLAND OF HAWAII, HA...    27976
442                   (Longitude 6, Magnitude Type ML)    23802
443     (Latitude 148, Longitude 6, Magnitude Type ML)    22697
444                        (Latitude 148, Longitude 6)    28010
445                           (Depth 18, Longitude 54)     3290
446        (Depth 18, Longitude 54, Magnitude Type ML)     3130
447                  (Longitude 54, Magnitude Type ML)    30075
448                      (Depth 18, Magnitude Type mb)    11712
449                      (Depth 18, Magnitude Type ML)    16036
450                                    (Latitude 148,)    34573
451                  (Latitude 148, Magnitude Type ML)    23432
452                               (Magnitude Type mb,)    47009
453                               (Magnitude Type ML,)   192081

[454 rows x 2 columns]

In [41]:
FrequentFrame.to_csv('Frequent Pattern.csv' ,index=False)

## 2.2. Closed Pattern Mining

In [42]:
# Mining Closed Pattern Function
def issubset(a,b):
    for x in a:
        if x not in b:
            return False
    return True

dictionary = {}

In [43]:
def close_pattern(freq_pattern):
    satu = []
    for a,b in freq_pattern.items():
        w = a
        flag = False
        for i,j in freq_pattern.items():
            if a!=i and i not in satu:
                #print(a,b,i,j)
                if issubset(a,i) and b == j:
                    flag = True
                    break
        #print(flag)
        if flag == False:
            dictionary[w] = b
        satu.append(w)

    return dictionary

In [44]:
# Mining Closed Pattern Process
ClosedPattern = close_pattern(FrequentPattern)
ClosedFrame = pd.DataFrame(list(ClosedPattern.items()), columns=['Itemset', 'Support'])

In [45]:
display("Closed Pattern", ClosedFrame)

'Closed Pattern'

                                               Itemset  Support
0                                       (Longitude 8,)     3069
1                                           (Eqid 12,)     3152
2                       (Region Name SOUTHERN ALASKA,)     3160
3                                      (Longitude 59,)     3178
4                                      (Latitude 143,)     3198
5                                           (Eqid 11,)     3205
6                                          (Depth 59,)     3238
7                                      (Latitude 171,)     3320
8                                      (Longitude 49,)     3410
9                    (Longitude 49, Magnitude Type ML)     3252
10                                     (Latitude 183,)     3416
11                  (Region Name NORTHERN CALIFORNIA,)     3421
12                                    (Magnitude 106,)     3482
13                  (Magnitude 106, Magnitude Type mb)     3096
14                                     (Latitude 147,)     3517
15   (Longitude 30, Region Name VIRGIN ISLANDS REGION)     3529
16                   (Region Name CENTRAL CALIFORNIA,)     3679
17                                         (Depth 45,)     3684
18                                     (Magnitude 80,)     3865
19                                          (Eqid 13,)     3883
20                                          (Eqid 37,)     3895
21    (Magnitude Type ML, Region Name TARAPACA, CHILE)     3596
22   (Longitude 29, Magnitude Type ML, Region Name ...     3493
23         (Longitude 29, Region Name TARAPACA, CHILE)     3786
24                                      (Longitude 0,)     3902
25                                          (Eqid 26,)     3913
26                           (Region Name AEGEAN SEA,)     3924
27         (Magnitude Type ML, Region Name AEGEAN SEA)     3889
28                                          (Eqid 38,)     3956
29                                          (Eqid 10,)     4015
..                                                 ...      ...
388                           (Depth 12, Longitude 54)     4046
389        (Depth 12, Longitude 54, Magnitude Type ML)     4024
390                      (Depth 12, Magnitude Type ML)    15776
391                       (Longitude 54, Magnitude 31)     3942
392    (Longitude 54, Magnitude 31, Magnitude Type ML)     3940
393                  (Magnitude 31, Magnitude Type ML)    17310
394  (Longitude 6, Magnitude 33, Region Name ISLAND...     3457
395  (Latitude 148, Longitude 6, Magnitude 33, Regi...     3336
396                       (Latitude 148, Magnitude 33)     3584
397          (Latitude 148, Longitude 6, Magnitude 33)     3440
398                        (Longitude 6, Magnitude 33)     3682
399                       (Longitude 54, Magnitude 33)     3776
400    (Longitude 54, Magnitude 33, Magnitude Type ML)     3775
401                  (Magnitude 33, Magnitude Type ML)    17116
402  (Longitude 6, Magnitude Type ML, Region Name I...    22795
403  (Latitude 148, Longitude 6, Magnitude Type ML,...    22309
404  (Latitude 148, Longitude 6, Region Name ISLAND...    27191
405  (Longitude 6, Region Name ISLAND OF HAWAII, HA...    27976
406                   (Longitude 6, Magnitude Type ML)    23802
407     (Latitude 148, Longitude 6, Magnitude Type ML)    22697
408                        (Latitude 148, Longitude 6)    28010
409                           (Depth 18, Longitude 54)     3290
410        (Depth 18, Longitude 54, Magnitude Type ML)     3130
411                  (Longitude 54, Magnitude Type ML)    30075
412                      (Depth 18, Magnitude Type mb)    11712
413                      (Depth 18, Magnitude Type ML)    16036
414                                    (Latitude 148,)    34573
415                  (Latitude 148, Magnitude Type ML)    23432
416                               (Magnitude Type mb,)    47009
417                               (Magnitude Type ML,)   192081

[418 rows x 2 columns]

In [46]:
ClosedFrame.to_csv('Closed Pattern.csv', index=False)

## 2.3. Association Rules Mining

### 2.3.1. Mining Association Rules

In [47]:
AssociationRules = pyfpgrowth.generate_association_rules(ClosedPattern, 0.8)

In [48]:
AssociationRules

{('Longitude 49',): (('Magnitude Type ML',), 0.9536656891495601),
 ('Magnitude 106',): (('Magnitude Type mb',), 0.8891441700172314),
 ('Longitude 29', 'Region Name TARAPACA, CHILE'): (('Magnitude Type ML',),
  0.9226096143687269),
 ('Magnitude Type ML', 'Region Name TARAPACA, CHILE'): (('Longitude 29',),
  0.971357063403782),
 ('Region Name AEGEAN SEA',): (('Magnitude Type ML',), 0.9910805300713558),
 ('Magnitude 103',): (('Magnitude Type mb',), 0.8866862457170828),
 ('Longitude 53', 'Region Name SOUTHERN GREECE'): (('Magnitude Type ML',),
  0.9828087167070217),
 ('Magnitude Type ML', 'Region Name SOUTHERN GREECE'): (('Longitude 53',),
  0.9950968374601618),
 ('Longitude 52',
  'Region Name IONIAN SEA'): (('Latitude 176',
   'Magnitude Type ML'), 0.8624432104997476),
 ('Magnitude Type ML', 'Region Name IONIAN SEA'): (('Latitude 176',),
  0.8808813403718154),
 ('Latitude 176', 'Longitude 52'): (('Magnitude Type ML',),
  0.9699120068123758),
 ('Latitude 176',
  'Longitude 52',
  'Magnitude Type ML'): (('Region Name IONIAN SEA',), 1.0),
 ('Latitude 176',
  'Longitude 52',
  'Region Name IONIAN SEA'): (('Magnitude Type ML',), 0.9699120068123758),
 ('Latitude 176',
  'Magnitude Type ML',
  'Region Name IONIAN SEA'): (('Longitude 52',), 0.8903074517978113),
 ('Longitude 52',
  'Magnitude Type ML',
  'Region Name IONIAN SEA'): (('Latitude 176',), 0.8891491022638564),
 ('Latitude 144', 'Region Name OAXACA, MEXICO'): (('Magnitude Type  M',),
  0.9642959154527277),
 ('Magnitude 100',): (('Magnitude Type mb',), 0.8828220858895706),
 ('Eqid 3',): (('Magnitude Type ML',), 0.8033353670937563),
 ('Latitude 175',
  'Longitude 54',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): (('Magnitude Type ML',),
  0.9933078393881453),
 ('Latitude 175',
  'Magnitude Type ML',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): (('Longitude 54',),
  0.91193680514921),
 ('Longitude 54',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): (('Magnitude Type ML',), 0.9922325231771486),
 ('Magnitude Type ML',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): (('Longitude 54',), 0.8025942440210783),
 ('Region Name OAXACA, MEXICO',): (('Magnitude Type  M',), 0.9643714971977582),
 ('Longitude 56', 'Region Name CENTRAL TURKEY'): (('Magnitude Type ML',),
  0.9878509719222462),
 ('Eqid 1',): (('Magnitude Type ML',), 0.802624073017684),
 ('Magnitude 98',): (('Magnitude Type mb',), 0.8581992974671844),
 ('Longitude 29', 'Region Name ANTOFAGASTA, CHILE'): (('Magnitude Type ML',),
  0.9244811683320523),
 ('Magnitude Type ML', 'Region Name ANTOFAGASTA, CHILE'): (('Longitude 29',),
  0.9574129353233831),
 ('Eqid 56', 'Longitude 6'): (('Magnitude Type ML',), 0.8670612337810153),
 ('Eqid 56', 'Magnitude Type ML'): (('Longitude 6',), 0.8544190219829519),
 ('Eqid 56', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9921239170385928),
 ('Eqid 56',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9933759707629054),
 ('Eqid 56', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.8677382319173363),
 ('Eqid 56', 'Latitude 148', 'Magnitude Type ML'): (('Longitude 6',),
  0.9965717299578059),
 ('Eqid 56',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9997353797300873),
 ('Eqid 56',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.8687054495286273),
 ('Eqid 56',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9942105263157894),
 ('Eqid 55', 'Magnitude Type ML'): (('Latitude 148',), 0.8639721860060843),
 ('Eqid 55', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9944695827048768),
 ('Eqid 55',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9952445652173914),
 ('Eqid 55', 'Latitude 148'): (('Magnitude Type ML',), 0.8942869995501574),
 ('Eqid 55', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.8982742960944596),
 ('Eqid 55', 'Latitude 148', 'Magnitude Type ML'): (('Longitude 6',),
  0.9949698189134809),
 ('Eqid 55',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9989888776541962),
 ('Eqid 55',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.8992036405005688),
 ('Eqid 55',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.996218805142425),
 ('Magnitude 95',): (('Magnitude Type mb',), 0.8267634854771784),
 ('Eqid 17',): (('Magnitude Type ML',), 0.9026747195858499),
 ('Longitude 57',): (('Magnitude Type ML',), 0.967730920266348),
 ('Magnitude Type mb', 'Region Name OKLAHOMA'): (('Longitude 21',),
  0.9912772585669782),
 ('Eqid 57', 'Latitude 148'): (('Longitude 6',), 0.9951754385964913),
 ('Eqid 57', 'Longitude 6'): (('Latitude 148',), 0.9932151455460714),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.99889819303658),
 ('Eqid 57',
  'Latitude 148',
  'Magnitude Type ML'): (('Longitude 6',
   'Region Name ISLAND OF HAWAII, HAWAII'), 0.9974339235309212),
 ('Eqid 57',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9987209004860578),
 ('Eqid 57',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.994296994955034),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.999485728979172),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.85748952128833),
 ('Eqid 57',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9956454918032787),
 ('Latitude 181',): (('Magnitude Type ML',), 0.8481623149842009),
 ('Latitude 172', 'Region Name CRETE, GREECE'): (('Magnitude Type ML',),
  0.9769962982548915),
 ('Eqid 54', 'Longitude 6'): (('Magnitude Type ML',), 0.8988260405549626),
 ('Eqid 54', 'Magnitude Type ML'): (('Longitude 6',), 0.8520841764467827),
 ('Eqid 54', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9926383281880788),
 ('Eqid 54',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9937688010313709),
 ('Eqid 54', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.9004739336492891),
 ('Eqid 54', 'Latitude 148', 'Magnitude Type ML'): (('Longitude 6',),
  0.9985666507405638),
 ('Eqid 54',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9983253588516746),
 ('Eqid 54',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.9022702702702703),
 ('Eqid 54',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9954675572519084),
 ('Region Name CENTRAL TURKEY',): (('Magnitude Type ML',), 0.9893283113622097),
 ('Longitude 54', 'Region Name CRETE, GREECE'): (('Magnitude Type ML',),
  0.9564137931034483),
 ('Longitude 58', 'Magnitude Type ML'): (('Region Name EASTERN TURKEY',),
  0.885544057698338),
 ('Longitude 58', 'Region Name EASTERN TURKEY'): (('Magnitude Type ML',),
  0.9881035689293212),
 ('Depth 20',): (('Magnitude Type ML',), 0.8178560764407286),
 ('Latitude 179',
  'Longitude 54',
  'Region Name NEAR THE COAST OF WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9949071300179748),
 ('Longitude 54',
  'Region Name NEAR THE COAST OF WESTERN TURKEY'): (('Magnitude Type ML',), 0.99502196193265),
 ('Latitude 184', 'Longitude 50'): (('Magnitude Type ML',),
  0.9893544733861834),
 ('Latitude 184',
  'Longitude 50',
  'Magnitude Type ML'): (('Region Name CENTRAL ITALY',), 1.0),
 ('Latitude 184',
  'Longitude 50',
  'Region Name CENTRAL ITALY'): (('Magnitude Type ML',), 0.9895786135024921),
 ('Latitude 184',
  'Magnitude Type ML',
  'Region Name CENTRAL ITALY'): (('Longitude 50',), 0.8224439841837695),
 ('Longitude 50', 'Region Name CENTRAL ITALY'): (('Magnitude Type ML',),
  0.9902758132956153),
 ('Magnitude Type ML', 'Region Name CENTRAL ITALY'): (('Longitude 50',),
  0.8171870440618617),
 ('Longitude 51',): (('Magnitude Type ML',), 0.9643671607753705),
 ('Longitude 22',): (('Magnitude Type  M',), 0.8903672903672903),
 ('Depth 21',): (('Magnitude Type ML',), 0.8072636685459551),
 ('Latitude 180',): (('Magnitude Type ML',), 0.8288614938361131),
 ('Longitude 50',): (('Magnitude Type ML',), 0.9798162919990331),
 ('Depth 17',): (('Magnitude Type ML',), 0.8442170613934238),
 ('Latitude 178', 'Region Name EASTERN TURKEY'): (('Magnitude Type ML',),
  0.9899472229203318),
 ('Magnitude 54',): (('Magnitude Type ML',), 0.8047307498741821),
 ('Depth 5', 'Longitude 6'): (('Magnitude Type ML',), 0.8727918887843629),
 ('Depth 5', 'Magnitude Type ML'): (('Longitude 6',), 0.8601153687680264),
 ('Depth 5', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9928143712574851),
 ('Depth 5',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9976565828717512),
 ('Depth 5', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.8766920473773265),
 ('Depth 5',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.995416164053076),
 ('Depth 5',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.8810591501174461),
 ('Depth 5',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9980648282535075),
 ('Longitude 55', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9890145051194539),
 ('Depth 16',): (('Magnitude Type ML',), 0.8479445269935612),
 ('Magnitude 51',): (('Magnitude Type ML',), 0.8108130348913759),
 ('Depth 14',): (('Magnitude Type ML',), 0.8563302454087437),
 ('Longitude 6', 'Magnitude Type MD'): (('Latitude 148',), 0.9239284700539313),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude Type MD'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9410138248847926),
 ('Longitude 6',
  'Magnitude Type MD',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9515377446411929),
 ('Latitude 179', 'Longitude 54'): (('Magnitude Type ML',),
  0.9958098014210238),
 ('Magnitude 49',): (('Magnitude Type ML',), 0.8233750655971213),
 ('Latitude 178', 'Region Name GREECE'): (('Magnitude Type ML',),
  0.9898918664786084),
 ('Latitude 177', 'Longitude 52'): (('Magnitude Type ML',),
  0.9835191468734852),
 ('Latitude 177',
  'Longitude 52',
  'Magnitude Type ML'): (('Region Name GREECE',), 0.9445539674716609),
 ('Latitude 177',
  'Longitude 52',
  'Region Name GREECE'): (('Magnitude Type ML',), 0.9835771105978958),
 ('Latitude 177', 'Region Name GREECE'): (('Magnitude Type ML',),
  0.9854111405835544),
 ('Longitude 53', 'Region Name GREECE'): (('Magnitude Type ML',),
  0.9875321859330533),
 ('Latitude 176',): (('Magnitude Type ML',), 0.8412426278974078),
 ('Latitude 177', 'Longitude 53'): (('Magnitude Type ML',),
  0.9871244635193133),
 ('Magnitude 46',): (('Magnitude Type ML',), 0.8273739358218729),
 ('Latitude 175', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.989440337909187),
 ('Latitude 175', 'Longitude 54'): (('Magnitude Type ML',),
  0.9915238621706284),
 ('Longitude 6', 'Magnitude 43'): (('Latitude 148',), 0.9395871281117183),
 ('Latitude 148', 'Magnitude 43'): (('Longitude 6',), 0.9173088322465915),
 ('Latitude 178', 'Longitude 53'): (('Magnitude Type ML',),
  0.9904942965779467),
 ('Magnitude 31', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9978461538461538),
 ('Latitude 178', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9931619256017505),
 ('Depth 12', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9952416729276233),
 ('Longitude 54', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9945722970039079),
 ('Longitude 6', 'Magnitude 36'): (('Latitude 148',), 0.9354172810380419),
 ('Latitude 148', 'Magnitude 36'): (('Longitude 6',), 0.9491322561340515),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude 36'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9703656998738966),
 ('Longitude 6',
  'Magnitude 36',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9591773138049237),
 ('Longitude 54', 'Magnitude 36'): (('Magnitude Type ML',),
  0.9997114829774957),
 ('Depth 6', 'Longitude 6'): (('Magnitude Type ML',), 0.8549951503394763),
 ('Depth 6', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9970504821327283),
 ('Depth 6',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9978405967805261),
 ('Depth 6', 'Latitude 148'): (('Longitude 6', 'Magnitude Type ML'),
  0.8585523102471427),
 ('Depth 6', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.8587200781631656),
 ('Depth 6',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9967004209807714),
 ('Depth 6',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.8616958489081251),
 ('Depth 6',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9984043765671301),
 ('Latitude 178', 'Longitude 54'): (('Magnitude Type ML',),
  0.9942269529135846),
 ('Depth 12', 'Longitude 54'): (('Magnitude Type ML',), 0.9945625308947108),
 ('Longitude 54', 'Magnitude 31'): (('Magnitude Type ML',),
  0.9994926433282597),
 ('Longitude 6', 'Magnitude 33'): (('Latitude 148',), 0.9342748506246605),
 ('Latitude 148', 'Magnitude 33'): (('Longitude 6',), 0.9598214285714286),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude 33'): (('Region Name ISLAND OF HAWAII, HAWAII',),
  0.9697674418604652),
 ('Longitude 6',
  'Magnitude 33',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9649985536592421),
 ('Longitude 54', 'Magnitude 33'): (('Magnitude Type ML',),
  0.9997351694915254),
 ('Longitude 6', 'Magnitude Type ML'): (('Latitude 148',), 0.9535753298042181),
 ('Longitude 6', 'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9719402344867029),
 ('Latitude 148', 'Magnitude Type ML'): (('Longitude 6',), 0.9686326391259815),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9829052297660483),
 ('Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',), 0.8204552977088007),
 ('Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9786795349857424),
 ('Latitude 148', 'Longitude 6'): (('Magnitude Type ML',), 0.8103177436629775),
 ('Latitude 148',): (('Longitude 6',), 0.8101697856708993),
 ('Depth 18', 'Longitude 54'): (('Magnitude Type ML',), 0.9513677811550152)}

### 2.3.2. Separate Rules to Antecedence, Consequent and Antecedence Join Consequent

In [49]:
# // Create new dataframe for Association Rules //

# Separate Association Rules Items ( 'Antecedence', 'Consequent', 'Confidence', 'Antecedence U Consequent')
ante = []
conse = []
anteconse = []
confi = []
for key, value in AssociationRules.items():
    TempKey = []
    TempValue = []
    SortedKey = sorted(key)
    SortedValue = sorted(value[0])
    for itemkey in SortedKey:
        TempKey.append(itemkey)
    for itemvalue in SortedValue:
        TempValue.append(itemvalue)
        
    ante.append(tuple(TempKey))
    conse.append(tuple(TempValue))
    confi.append(value[1])

for i in range(len(ante)):
    combine = (tuple(ante[i]+conse[i]))
    anteconse.append(combine)

### 2.3.3. Function to Count Support

In [50]:
ListDataset = Dataset.values.tolist()

In [51]:
def CountItem(item):
    sums = 0
    for i in ListDataset:
        flag = True
        for x in item:
            if x not in i:
                flag = False
                break
        if flag == True:
            sums += 1
    return sums

In [52]:
def CheckSupport(ListItems):
    support = []
    for i in ListItems:
        support.append(CountItem(i))
    return support

In [53]:
AssociationRules

{('Longitude 49',): (('Magnitude Type ML',), 0.9536656891495601),
 ('Magnitude 106',): (('Magnitude Type mb',), 0.8891441700172314),
 ('Longitude 29', 'Region Name TARAPACA, CHILE'): (('Magnitude Type ML',),
  0.9226096143687269),
 ('Magnitude Type ML', 'Region Name TARAPACA, CHILE'): (('Longitude 29',),
  0.971357063403782),
 ('Region Name AEGEAN SEA',): (('Magnitude Type ML',), 0.9910805300713558),
 ('Magnitude 103',): (('Magnitude Type mb',), 0.8866862457170828),
 ('Longitude 53', 'Region Name SOUTHERN GREECE'): (('Magnitude Type ML',),
  0.9828087167070217),
 ('Magnitude Type ML', 'Region Name SOUTHERN GREECE'): (('Longitude 53',),
  0.9950968374601618),
 ('Longitude 52',
  'Region Name IONIAN SEA'): (('Latitude 176',
   'Magnitude Type ML'), 0.8624432104997476),
 ('Magnitude Type ML', 'Region Name IONIAN SEA'): (('Latitude 176',),
  0.8808813403718154),
 ('Latitude 176', 'Longitude 52'): (('Magnitude Type ML',),
  0.9699120068123758),
 ('Latitude 176',
  'Longitude 52',
  'Magnitude Type ML'): (('Region Name IONIAN SEA',), 1.0),
 ('Latitude 176',
  'Longitude 52',
  'Region Name IONIAN SEA'): (('Magnitude Type ML',), 0.9699120068123758),
 ('Latitude 176',
  'Magnitude Type ML',
  'Region Name IONIAN SEA'): (('Longitude 52',), 0.8903074517978113),
 ('Longitude 52',
  'Magnitude Type ML',
  'Region Name IONIAN SEA'): (('Latitude 176',), 0.8891491022638564),
 ('Latitude 144', 'Region Name OAXACA, MEXICO'): (('Magnitude Type  M',),
  0.9642959154527277),
 ('Magnitude 100',): (('Magnitude Type mb',), 0.8828220858895706),
 ('Eqid 3',): (('Magnitude Type ML',), 0.8033353670937563),
 ('Latitude 175',
  'Longitude 54',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): (('Magnitude Type ML',),
  0.9933078393881453),
 ('Latitude 175',
  'Magnitude Type ML',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): (('Longitude 54',),
  0.91193680514921),
 ('Longitude 54',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): (('Magnitude Type ML',), 0.9922325231771486),
 ('Magnitude Type ML',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): (('Longitude 54',), 0.8025942440210783),
 ('Region Name OAXACA, MEXICO',): (('Magnitude Type  M',), 0.9643714971977582),
 ('Longitude 56', 'Region Name CENTRAL TURKEY'): (('Magnitude Type ML',),
  0.9878509719222462),
 ('Eqid 1',): (('Magnitude Type ML',), 0.802624073017684),
 ('Magnitude 98',): (('Magnitude Type mb',), 0.8581992974671844),
 ('Longitude 29', 'Region Name ANTOFAGASTA, CHILE'): (('Magnitude Type ML',),
  0.9244811683320523),
 ('Magnitude Type ML', 'Region Name ANTOFAGASTA, CHILE'): (('Longitude 29',),
  0.9574129353233831),
 ('Eqid 56', 'Longitude 6'): (('Magnitude Type ML',), 0.8670612337810153),
 ('Eqid 56', 'Magnitude Type ML'): (('Longitude 6',), 0.8544190219829519),
 ('Eqid 56', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9921239170385928),
 ('Eqid 56',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9933759707629054),
 ('Eqid 56', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.8677382319173363),
 ('Eqid 56', 'Latitude 148', 'Magnitude Type ML'): (('Longitude 6',),
  0.9965717299578059),
 ('Eqid 56',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9997353797300873),
 ('Eqid 56',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.8687054495286273),
 ('Eqid 56',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9942105263157894),
 ('Eqid 55', 'Magnitude Type ML'): (('Latitude 148',), 0.8639721860060843),
 ('Eqid 55', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9944695827048768),
 ('Eqid 55',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9952445652173914),
 ('Eqid 55', 'Latitude 148'): (('Magnitude Type ML',), 0.8942869995501574),
 ('Eqid 55', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.8982742960944596),
 ('Eqid 55', 'Latitude 148', 'Magnitude Type ML'): (('Longitude 6',),
  0.9949698189134809),
 ('Eqid 55',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9989888776541962),
 ('Eqid 55',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.8992036405005688),
 ('Eqid 55',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.996218805142425),
 ('Magnitude 95',): (('Magnitude Type mb',), 0.8267634854771784),
 ('Eqid 17',): (('Magnitude Type ML',), 0.9026747195858499),
 ('Longitude 57',): (('Magnitude Type ML',), 0.967730920266348),
 ('Magnitude Type mb', 'Region Name OKLAHOMA'): (('Longitude 21',),
  0.9912772585669782),
 ('Eqid 57', 'Latitude 148'): (('Longitude 6',), 0.9951754385964913),
 ('Eqid 57', 'Longitude 6'): (('Latitude 148',), 0.9932151455460714),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.99889819303658),
 ('Eqid 57',
  'Latitude 148',
  'Magnitude Type ML'): (('Longitude 6',
   'Region Name ISLAND OF HAWAII, HAWAII'), 0.9974339235309212),
 ('Eqid 57',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9987209004860578),
 ('Eqid 57',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.994296994955034),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.999485728979172),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.85748952128833),
 ('Eqid 57',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9956454918032787),
 ('Latitude 181',): (('Magnitude Type ML',), 0.8481623149842009),
 ('Latitude 172', 'Region Name CRETE, GREECE'): (('Magnitude Type ML',),
  0.9769962982548915),
 ('Eqid 54', 'Longitude 6'): (('Magnitude Type ML',), 0.8988260405549626),
 ('Eqid 54', 'Magnitude Type ML'): (('Longitude 6',), 0.8520841764467827),
 ('Eqid 54', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9926383281880788),
 ('Eqid 54',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9937688010313709),
 ('Eqid 54', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.9004739336492891),
 ('Eqid 54', 'Latitude 148', 'Magnitude Type ML'): (('Longitude 6',),
  0.9985666507405638),
 ('Eqid 54',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9983253588516746),
 ('Eqid 54',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.9022702702702703),
 ('Eqid 54',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9954675572519084),
 ('Region Name CENTRAL TURKEY',): (('Magnitude Type ML',), 0.9893283113622097),
 ('Longitude 54', 'Region Name CRETE, GREECE'): (('Magnitude Type ML',),
  0.9564137931034483),
 ('Longitude 58', 'Magnitude Type ML'): (('Region Name EASTERN TURKEY',),
  0.885544057698338),
 ('Longitude 58', 'Region Name EASTERN TURKEY'): (('Magnitude Type ML',),
  0.9881035689293212),
 ('Depth 20',): (('Magnitude Type ML',), 0.8178560764407286),
 ('Latitude 179',
  'Longitude 54',
  'Region Name NEAR THE COAST OF WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9949071300179748),
 ('Longitude 54',
  'Region Name NEAR THE COAST OF WESTERN TURKEY'): (('Magnitude Type ML',), 0.99502196193265),
 ('Latitude 184', 'Longitude 50'): (('Magnitude Type ML',),
  0.9893544733861834),
 ('Latitude 184',
  'Longitude 50',
  'Magnitude Type ML'): (('Region Name CENTRAL ITALY',), 1.0),
 ('Latitude 184',
  'Longitude 50',
  'Region Name CENTRAL ITALY'): (('Magnitude Type ML',), 0.9895786135024921),
 ('Latitude 184',
  'Magnitude Type ML',
  'Region Name CENTRAL ITALY'): (('Longitude 50',), 0.8224439841837695),
 ('Longitude 50', 'Region Name CENTRAL ITALY'): (('Magnitude Type ML',),
  0.9902758132956153),
 ('Magnitude Type ML', 'Region Name CENTRAL ITALY'): (('Longitude 50',),
  0.8171870440618617),
 ('Longitude 51',): (('Magnitude Type ML',), 0.9643671607753705),
 ('Longitude 22',): (('Magnitude Type  M',), 0.8903672903672903),
 ('Depth 21',): (('Magnitude Type ML',), 0.8072636685459551),
 ('Latitude 180',): (('Magnitude Type ML',), 0.8288614938361131),
 ('Longitude 50',): (('Magnitude Type ML',), 0.9798162919990331),
 ('Depth 17',): (('Magnitude Type ML',), 0.8442170613934238),
 ('Latitude 178', 'Region Name EASTERN TURKEY'): (('Magnitude Type ML',),
  0.9899472229203318),
 ('Magnitude 54',): (('Magnitude Type ML',), 0.8047307498741821),
 ('Depth 5', 'Longitude 6'): (('Magnitude Type ML',), 0.8727918887843629),
 ('Depth 5', 'Magnitude Type ML'): (('Longitude 6',), 0.8601153687680264),
 ('Depth 5', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9928143712574851),
 ('Depth 5',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9976565828717512),
 ('Depth 5', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.8766920473773265),
 ('Depth 5',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.995416164053076),
 ('Depth 5',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.8810591501174461),
 ('Depth 5',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9980648282535075),
 ('Longitude 55', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9890145051194539),
 ('Depth 16',): (('Magnitude Type ML',), 0.8479445269935612),
 ('Magnitude 51',): (('Magnitude Type ML',), 0.8108130348913759),
 ('Depth 14',): (('Magnitude Type ML',), 0.8563302454087437),
 ('Longitude 6', 'Magnitude Type MD'): (('Latitude 148',), 0.9239284700539313),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude Type MD'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9410138248847926),
 ('Longitude 6',
  'Magnitude Type MD',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9515377446411929),
 ('Latitude 179', 'Longitude 54'): (('Magnitude Type ML',),
  0.9958098014210238),
 ('Magnitude 49',): (('Magnitude Type ML',), 0.8233750655971213),
 ('Latitude 178', 'Region Name GREECE'): (('Magnitude Type ML',),
  0.9898918664786084),
 ('Latitude 177', 'Longitude 52'): (('Magnitude Type ML',),
  0.9835191468734852),
 ('Latitude 177',
  'Longitude 52',
  'Magnitude Type ML'): (('Region Name GREECE',), 0.9445539674716609),
 ('Latitude 177',
  'Longitude 52',
  'Region Name GREECE'): (('Magnitude Type ML',), 0.9835771105978958),
 ('Latitude 177', 'Region Name GREECE'): (('Magnitude Type ML',),
  0.9854111405835544),
 ('Longitude 53', 'Region Name GREECE'): (('Magnitude Type ML',),
  0.9875321859330533),
 ('Latitude 176',): (('Magnitude Type ML',), 0.8412426278974078),
 ('Latitude 177', 'Longitude 53'): (('Magnitude Type ML',),
  0.9871244635193133),
 ('Magnitude 46',): (('Magnitude Type ML',), 0.8273739358218729),
 ('Latitude 175', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.989440337909187),
 ('Latitude 175', 'Longitude 54'): (('Magnitude Type ML',),
  0.9915238621706284),
 ('Longitude 6', 'Magnitude 43'): (('Latitude 148',), 0.9395871281117183),
 ('Latitude 148', 'Magnitude 43'): (('Longitude 6',), 0.9173088322465915),
 ('Latitude 178', 'Longitude 53'): (('Magnitude Type ML',),
  0.9904942965779467),
 ('Magnitude 31', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9978461538461538),
 ('Latitude 178', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9931619256017505),
 ('Depth 12', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9952416729276233),
 ('Longitude 54', 'Region Name WESTERN TURKEY'): (('Magnitude Type ML',),
  0.9945722970039079),
 ('Longitude 6', 'Magnitude 36'): (('Latitude 148',), 0.9354172810380419),
 ('Latitude 148', 'Magnitude 36'): (('Longitude 6',), 0.9491322561340515),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude 36'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9703656998738966),
 ('Longitude 6',
  'Magnitude 36',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9591773138049237),
 ('Longitude 54', 'Magnitude 36'): (('Magnitude Type ML',),
  0.9997114829774957),
 ('Depth 6', 'Longitude 6'): (('Magnitude Type ML',), 0.8549951503394763),
 ('Depth 6', 'Longitude 6', 'Magnitude Type ML'): (('Latitude 148',),
  0.9970504821327283),
 ('Depth 6',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9978405967805261),
 ('Depth 6', 'Latitude 148'): (('Longitude 6', 'Magnitude Type ML'),
  0.8585523102471427),
 ('Depth 6', 'Latitude 148', 'Longitude 6'): (('Magnitude Type ML',),
  0.8587200781631656),
 ('Depth 6',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9967004209807714),
 ('Depth 6',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',),
  0.8616958489081251),
 ('Depth 6',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9984043765671301),
 ('Latitude 178', 'Longitude 54'): (('Magnitude Type ML',),
  0.9942269529135846),
 ('Depth 12', 'Longitude 54'): (('Magnitude Type ML',), 0.9945625308947108),
 ('Longitude 54', 'Magnitude 31'): (('Magnitude Type ML',),
  0.9994926433282597),
 ('Longitude 6', 'Magnitude 33'): (('Latitude 148',), 0.9342748506246605),
 ('Latitude 148', 'Magnitude 33'): (('Longitude 6',), 0.9598214285714286),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude 33'): (('Region Name ISLAND OF HAWAII, HAWAII',),
  0.9697674418604652),
 ('Longitude 6',
  'Magnitude 33',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',), 0.9649985536592421),
 ('Longitude 54', 'Magnitude 33'): (('Magnitude Type ML',),
  0.9997351694915254),
 ('Longitude 6', 'Magnitude Type ML'): (('Latitude 148',), 0.9535753298042181),
 ('Longitude 6', 'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9719402344867029),
 ('Latitude 148', 'Magnitude Type ML'): (('Longitude 6',), 0.9686326391259815),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): (('Region Name ISLAND OF HAWAII, HAWAII',), 0.9829052297660483),
 ('Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Magnitude Type ML',), 0.8204552977088007),
 ('Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): (('Latitude 148',),
  0.9786795349857424),
 ('Latitude 148', 'Longitude 6'): (('Magnitude Type ML',), 0.8103177436629775),
 ('Latitude 148',): (('Longitude 6',), 0.8101697856708993),
 ('Depth 18', 'Longitude 54'): (('Magnitude Type ML',), 0.9513677811550152)}

In [54]:
separate_ante = []
separate_conse = []
for key, value in AssociationRules.items():
    separate_ante.append(key)
    separate_conse.append(value[0])
    
RulesForGA = dict(zip(separate_ante, separate_conse))

In [55]:
RulesForGA

{('Longitude 49',): ('Magnitude Type ML',),
 ('Magnitude 106',): ('Magnitude Type mb',),
 ('Longitude 29', 'Region Name TARAPACA, CHILE'): ('Magnitude Type ML',),
 ('Magnitude Type ML', 'Region Name TARAPACA, CHILE'): ('Longitude 29',),
 ('Region Name AEGEAN SEA',): ('Magnitude Type ML',),
 ('Magnitude 103',): ('Magnitude Type mb',),
 ('Longitude 53', 'Region Name SOUTHERN GREECE'): ('Magnitude Type ML',),
 ('Magnitude Type ML', 'Region Name SOUTHERN GREECE'): ('Longitude 53',),
 ('Longitude 52', 'Region Name IONIAN SEA'): ('Latitude 176',
  'Magnitude Type ML'),
 ('Magnitude Type ML', 'Region Name IONIAN SEA'): ('Latitude 176',),
 ('Latitude 176', 'Longitude 52'): ('Magnitude Type ML',),
 ('Latitude 176',
  'Longitude 52',
  'Magnitude Type ML'): ('Region Name IONIAN SEA',),
 ('Latitude 176',
  'Longitude 52',
  'Region Name IONIAN SEA'): ('Magnitude Type ML',),
 ('Latitude 176',
  'Magnitude Type ML',
  'Region Name IONIAN SEA'): ('Longitude 52',),
 ('Longitude 52',
  'Magnitude Type ML',
  'Region Name IONIAN SEA'): ('Latitude 176',),
 ('Latitude 144', 'Region Name OAXACA, MEXICO'): ('Magnitude Type  M',),
 ('Magnitude 100',): ('Magnitude Type mb',),
 ('Eqid 3',): ('Magnitude Type ML',),
 ('Latitude 175',
  'Longitude 54',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): ('Magnitude Type ML',),
 ('Latitude 175',
  'Magnitude Type ML',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): ('Longitude 54',),
 ('Longitude 54',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): ('Magnitude Type ML',),
 ('Magnitude Type ML',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): ('Longitude 54',),
 ('Region Name OAXACA, MEXICO',): ('Magnitude Type  M',),
 ('Longitude 56', 'Region Name CENTRAL TURKEY'): ('Magnitude Type ML',),
 ('Eqid 1',): ('Magnitude Type ML',),
 ('Magnitude 98',): ('Magnitude Type mb',),
 ('Longitude 29', 'Region Name ANTOFAGASTA, CHILE'): ('Magnitude Type ML',),
 ('Magnitude Type ML', 'Region Name ANTOFAGASTA, CHILE'): ('Longitude 29',),
 ('Eqid 56', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 56', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 56', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Eqid 56',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 56', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 56', 'Latitude 148', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 56',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 56',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Eqid 56',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 55', 'Magnitude Type ML'): ('Latitude 148',),
 ('Eqid 55', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Eqid 55',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 55', 'Latitude 148'): ('Magnitude Type ML',),
 ('Eqid 55', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 55', 'Latitude 148', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 55',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 55',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Eqid 55',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Magnitude 95',): ('Magnitude Type mb',),
 ('Eqid 17',): ('Magnitude Type ML',),
 ('Longitude 57',): ('Magnitude Type ML',),
 ('Magnitude Type mb', 'Region Name OKLAHOMA'): ('Longitude 21',),
 ('Eqid 57', 'Latitude 148'): ('Longitude 6',),
 ('Eqid 57', 'Longitude 6'): ('Latitude 148',),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 57', 'Latitude 148', 'Magnitude Type ML'): ('Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'),
 ('Eqid 57',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 57',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Eqid 57',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 181',): ('Magnitude Type ML',),
 ('Latitude 172', 'Region Name CRETE, GREECE'): ('Magnitude Type ML',),
 ('Eqid 54', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 54', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 54', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Eqid 54',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 54', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 54', 'Latitude 148', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 54',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 54',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Eqid 54',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Region Name CENTRAL TURKEY',): ('Magnitude Type ML',),
 ('Longitude 54', 'Region Name CRETE, GREECE'): ('Magnitude Type ML',),
 ('Longitude 58', 'Magnitude Type ML'): ('Region Name EASTERN TURKEY',),
 ('Longitude 58', 'Region Name EASTERN TURKEY'): ('Magnitude Type ML',),
 ('Depth 20',): ('Magnitude Type ML',),
 ('Latitude 179',
  'Longitude 54',
  'Region Name NEAR THE COAST OF WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Longitude 54',
  'Region Name NEAR THE COAST OF WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Latitude 184', 'Longitude 50'): ('Magnitude Type ML',),
 ('Latitude 184',
  'Longitude 50',
  'Magnitude Type ML'): ('Region Name CENTRAL ITALY',),
 ('Latitude 184',
  'Longitude 50',
  'Region Name CENTRAL ITALY'): ('Magnitude Type ML',),
 ('Latitude 184',
  'Magnitude Type ML',
  'Region Name CENTRAL ITALY'): ('Longitude 50',),
 ('Longitude 50', 'Region Name CENTRAL ITALY'): ('Magnitude Type ML',),
 ('Magnitude Type ML', 'Region Name CENTRAL ITALY'): ('Longitude 50',),
 ('Longitude 51',): ('Magnitude Type ML',),
 ('Longitude 22',): ('Magnitude Type  M',),
 ('Depth 21',): ('Magnitude Type ML',),
 ('Latitude 180',): ('Magnitude Type ML',),
 ('Longitude 50',): ('Magnitude Type ML',),
 ('Depth 17',): ('Magnitude Type ML',),
 ('Latitude 178', 'Region Name EASTERN TURKEY'): ('Magnitude Type ML',),
 ('Magnitude 54',): ('Magnitude Type ML',),
 ('Depth 5', 'Longitude 6'): ('Magnitude Type ML',),
 ('Depth 5', 'Magnitude Type ML'): ('Longitude 6',),
 ('Depth 5', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Depth 5',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Depth 5', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Depth 5',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Depth 5',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Depth 5',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Longitude 55', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Depth 16',): ('Magnitude Type ML',),
 ('Magnitude 51',): ('Magnitude Type ML',),
 ('Depth 14',): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude Type MD'): ('Latitude 148',),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude Type MD'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Longitude 6',
  'Magnitude Type MD',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 179', 'Longitude 54'): ('Magnitude Type ML',),
 ('Magnitude 49',): ('Magnitude Type ML',),
 ('Latitude 178', 'Region Name GREECE'): ('Magnitude Type ML',),
 ('Latitude 177', 'Longitude 52'): ('Magnitude Type ML',),
 ('Latitude 177',
  'Longitude 52',
  'Magnitude Type ML'): ('Region Name GREECE',),
 ('Latitude 177',
  'Longitude 52',
  'Region Name GREECE'): ('Magnitude Type ML',),
 ('Latitude 177', 'Region Name GREECE'): ('Magnitude Type ML',),
 ('Longitude 53', 'Region Name GREECE'): ('Magnitude Type ML',),
 ('Latitude 176',): ('Magnitude Type ML',),
 ('Latitude 177', 'Longitude 53'): ('Magnitude Type ML',),
 ('Magnitude 46',): ('Magnitude Type ML',),
 ('Latitude 175', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Latitude 175', 'Longitude 54'): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude 43'): ('Latitude 148',),
 ('Latitude 148', 'Magnitude 43'): ('Longitude 6',),
 ('Latitude 178', 'Longitude 53'): ('Magnitude Type ML',),
 ('Magnitude 31', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Latitude 178', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Depth 12', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Longitude 54', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude 36'): ('Latitude 148',),
 ('Latitude 148', 'Magnitude 36'): ('Longitude 6',),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude 36'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Longitude 6',
  'Magnitude 36',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Longitude 54', 'Magnitude 36'): ('Magnitude Type ML',),
 ('Depth 6', 'Longitude 6'): ('Magnitude Type ML',),
 ('Depth 6', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Depth 6',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Depth 6', 'Latitude 148'): ('Longitude 6', 'Magnitude Type ML'),
 ('Depth 6', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Depth 6',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Depth 6',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Depth 6',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 178', 'Longitude 54'): ('Magnitude Type ML',),
 ('Depth 12', 'Longitude 54'): ('Magnitude Type ML',),
 ('Longitude 54', 'Magnitude 31'): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude 33'): ('Latitude 148',),
 ('Latitude 148', 'Magnitude 33'): ('Longitude 6',),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude 33'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Longitude 6',
  'Magnitude 33',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Longitude 54', 'Magnitude 33'): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Longitude 6', 'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 148', 'Magnitude Type ML'): ('Longitude 6',),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Latitude 148',): ('Longitude 6',),
 ('Depth 18', 'Longitude 54'): ('Magnitude Type ML',)}

In [56]:
def FindAntecedence(Rules):
    ante = []
    for key, value in Rules.items():
        TempKey = []
        TempValue = []
        SortedKey = sorted(key)
        SortedValue = sorted(value)

        for itemkey in SortedKey:
            TempKey.append(itemkey)

        for itemvalue in SortedValue:
            TempValue.append(itemvalue)

        ante.append(tuple(TempKey))

    return ante
    
def FindConsequent(Rules):
    conse = []
    for key, value in Rules.items():
        TempKey = []
        TempValue = []
        SortedKey = sorted(key)
        SortedValue = sorted(value)

        for itemkey in SortedKey:
            TempKey.append(itemkey)

        for itemvalue in SortedValue:
            TempValue.append(itemvalue)

        conse.append(tuple(TempValue))

    return conse
    
def FindAntecedenceConsequent(Rules):
    # // Create new dataframe for Association Rules //

    # Separate Association Rules Items ( 'Antecedence', 'Consequent', 'Confidence', 'Antecedence U Consequent')
    ante = []
    conse = []
    anteconse = []
    for key, value in Rules.items():
        TempKey = []
        TempValue = []
        SortedKey = sorted(key)
        SortedValue = sorted(value)
        for itemkey in SortedKey:
            TempKey.append(itemkey)
        for itemvalue in SortedValue:
            TempValue.append(itemvalue)

        ante.append(tuple(TempKey))
        conse.append(tuple(TempValue))

    for i in range(len(ante)):
        combine = (tuple(ante[i]+conse[i]))
        anteconse.append(combine)

    return anteconse

def FindAnteConse(Rules):
    # // Create new dataframe for Association Rules //

    # Separate Association Rules Items ( 'Antecedence', 'Consequent', 'Confidence', 'Antecedence U Consequent')
    ante = []
    conse = []
        
    for key, value in Rules.items():
        ante.append(sorted(key))
        conse.append(sorted(value))
            
    result = []
    for i in range(len(ante)):
        Temp = 'If %s, Then %s' %(ante[i], conse[i])
        result.append(Temp)
            
    return result

In [57]:
def Encode(list_of_rules):
    encode = []
    for i in list_of_rules:
        temp = []
        for j in semua_nilai_dari_atribut:
            if j in i[0]:
                temp.append('00')
            elif j in i[1]:
                temp.append('11')
            else:
                temp.append('01')
        encode.append(temp)
    return encode

def RouletteWheel(Individu):
    maxi = sum(Individu.values())
    pick = random.uniform(0, maxi)
    current = 0
    for key, value in Individu.items():
        current += value
        if current > pick:
            return key
        
def Encode(list_of_rules):
    encode = []
    for i in list_of_rules:
        temp = []
        for j in semua_nilai_dari_atribut:
            if j in i[0]:
                temp.append('00')
            elif j in i[1]:
                temp.append('11')
            else:
                temp.append('01')
        encode.append(temp)
    return encode

def CheckRules(list_encode ,role, index):
    return list_encode[index][role]

def CountAnteConse(list_encode, role, index):
    value = list_encode[index].count(role)
    return value

# def Crossover(list_of_encode):
#     side_a = []
#     side_b = []
#     for i in list_of_encode:
#         side_a.append(i)

#     for i in list_of_encode:
#         side_b.append(i)
        
# #     RandomPointSideA = random.sample(range(0, len(side_a)), len(side_a))
# #     RandomPointSideB = random.sample(range(0, len(side_b)), len(side_b))

    
#     Couple = []
#     for i in range(len(side_a)):
#         RandomPoint = random.sample(range(0, len(side_a)), 2)
#         Couple.append(RandomPoint)
    
#     RandomA = []
#     RandomB = []
#     for i in range(len(side_a)):
#         RandomA.append(Couple[i][0])
#         RandomB.append(Couple[i][1])   
        
#     ListEncodeByRandomA = [list_of_encode[i] for i in RandomA]
#     ListEncodeByRandomB = [list_of_encode[i] for i in RandomB]
    
#     crossover = tuple(zip(ListEncodeByRandomA, ListEncodeByRandomB))
    
#     # Make a cutpoint
#     TwoPoint = []
#     for i in range(len(crossover)):
#         RandomPoint = random.sample(range(1, len(crossover[0][0])), 2)
#         TwoPoint.append(sorted(RandomPoint))
    
#     crossover_update = []
#     const = len(crossover[0][0])
#     for i in range(len(crossover)):
#         left,right = [],[]
#         for x in range(0, TwoPoint[i][0]):
#             left.append(crossover[i][0][x])
#             right.append(crossover[i][1][x])
#         for q in range(TwoPoint[i][0], TwoPoint[i][1]):
#             left.append(crossover[i][1][q])
#             right.append(crossover[i][0][q])
#         for k in range(TwoPoint[i][1], const):
#             left.append(crossover[i][0][k])
#             right.append(crossover[i][1][k])
#         crossover_update.append(left)
#         crossover_update.append(right)
#     return crossover_update

def ListOfMutationPoints(Offspring, MutationProbability):
    ListOfMutationPoint = []
    for i in range(len(Offspring)):
        RandomValue = random.sample(range(0, len(Offspring[0])), MutationProbability)
        ListOfMutationPoint.append(RandomValue)
    return ListOfMutationPoint

def Decode(list_of_encode):
    decode = {}
    for i in range(len(list_of_encode)):
        ante_decode = []
        conse_decode = []
        for j in range(len(list_of_encode[i])):
            if list_of_encode[i][j] == '00':
                ante_decode.append(semua_nilai_dari_atribut[j])
            elif list_of_encode[i][j] == '11':
                conse_decode.append(semua_nilai_dari_atribut[j])
        result_ante = tuple(ante_decode)
        result_conse = tuple(conse_decode)
        decode[result_ante] = result_conse
    return decode

In [58]:
AssosiationFrame = pd.DataFrame({'Rules': FindAnteConse(RulesForGA),
                                          'Antecedence': FindAntecedence(RulesForGA) ,
                                          'Consequent': FindConsequent(RulesForGA) ,
                                          'sup(A)': CheckSupport(FindAntecedence(RulesForGA)),
                                          'sup(B)' : CheckSupport(FindConsequent(RulesForGA)),
                                          'sup(A U B)' : CheckSupport(FindAntecedenceConsequent(RulesForGA))
                                        })

AssosiationFrame['Kulczynski'] = (AssosiationFrame['sup(A U B)'] / 2) * ( ( 1/AssosiationFrame['sup(A)'] ) +  ( 1/AssosiationFrame['sup(B)'] ))
AssosiationFrame['IR'] = (abs(AssosiationFrame['sup(A)'] - AssosiationFrame['sup(B)'])) / (AssosiationFrame['sup(A)'] + AssosiationFrame['sup(B)'] - AssosiationFrame['sup(A U B)'])
AssosiationFrame = AssosiationFrame.sort_values('Kulczynski', ascending=False)
AssosiationFrame = AssosiationFrame[AssosiationFrame['sup(A)'] >= minsup]
AssosiationFrame = AssosiationFrame[AssosiationFrame['sup(B)'] >= minsup]
AssosiationFrame = AssosiationFrame[AssosiationFrame['sup(A U B)'] >= minsup]

In [59]:
AssosiationFrame.to_csv('Hasil/Rules Awal.csv', index = False)

In [60]:
AssosiationFrame

,Rules,Antecedence,Consequent,sup(A),sup(B),sup(A U B),Kulczynski,IR
150,"If ['Latitude 148', 'Longitude 6', 'Magnitude ...","(Latitude 148, Longitude 6, Magnitude Type ML)","(Region Name ISLAND OF HAWAII, HAWAII,)",22697,27976,22309,0.890169,0.186116
11,"If ['Latitude 176', 'Longitude 52', 'Magnitude...","(Latitude 176, Longitude 52, Magnitude Type ML)","(Region Name IONIAN SEA,)",3417,4496,3417,0.880004,0.239991
148,"If ['Longitude 6', 'Region Name ISLAND OF HAWA...","(Longitude 6, Region Name ISLAND OF HAWAII, HA...","(Latitude 148,)",27976,34573,27191,0.879211,0.186577
154,"If ['Latitude 148'], Then ['Longitude 6']","(Latitude 148,)","(Longitude 6,)",34573,30265,28010,0.867831,0.116976
149,"If ['Latitude 148', 'Magnitude Type ML'], Then...","(Latitude 148, Magnitude Type ML)","(Longitude 6,)",23432,30265,22697,0.859287,0.220419
78,"If ['Latitude 184', 'Longitude 50', 'Magnitude...","(Latitude 184, Longitude 50, Magnitude Type ML)","(Region Name CENTRAL ITALY,)",4368,6920,4368,0.815607,0.368786
152,"If ['Longitude 6', 'Magnitude Type ML', 'Regio...","(Longitude 6, Magnitude Type ML, Region Name I...","(Latitude 148,)",22795,34573,22309,0.811976,0.335948
147,"If ['Longitude 6', 'Magnitude Type ML'], Then ...","(Longitude 6, Magnitude Type ML)","(Latitude 148,)",23802,34573,22697,0.805035,0.301895
72,"If ['Longitude 58', 'Magnitude Type ML'], Then...","(Longitude 58, Magnitude Type ML)","(Region Name EASTERN TURKEY,)",6378,9183,5648,0.750297,0.282962
82,"If ['Magnitude Type ML', 'Region Name CENTRAL ...","(Magnitude Type ML, Region Name CENTRAL ITALY)","(Longitude 50,)",6854,8274,5601,0.747063,0.149050
80,"If ['Latitude 184', 'Magnitude Type ML', 'Regi...","(Latitude 184, Magnitude Type ML, Region Name ...","(Longitude 50,)",5311,8274,4368,0.675181,0.321471
136,"If ['Depth 6', 'Latitude 148', 'Longitude 6', ...","(Depth 6, Latitude 148, Longitude 6, Magnitude...","(Region Name ISLAND OF HAWAII, HAWAII,)",8789,27976,8760,0.654913,0.685128
133,"If ['Depth 6', 'Longitude 6', 'Region Name ISL...","(Depth 6, Longitude 6, Region Name ISLAND OF H...","(Latitude 148,)",10188,34573,10166,0.645943,0.704871
96,"If ['Depth 5', 'Latitude 148', 'Longitude 6', ...","(Depth 5, Latitude 148, Longitude 6, Magnitude...","(Region Name ISLAND OF HAWAII, HAWAII,)",8290,27976,8252,0.645192,0.702720
49,"If ['Magnitude Type mb', 'Region Name OKLAHOMA...","(Magnitude Type mb, Region Name OKLAHOMA)","(Longitude 21,)",3210,11453,3182,0.634554,0.717969
94,"If ['Depth 5', 'Longitude 6', 'Region Name ISL...","(Depth 5, Longitude 6, Region Name ISLAND OF H...","(Latitude 148,)",9388,34573,9366,0.634281,0.727995
84,"If ['Longitude 22'], Then ['Magnitude Type M']","(Longitude 22,)","(Magnitude Type M,)",7215,17760,6424,0.626040,0.568433
138,"If ['Depth 6', 'Longitude 6', 'Magnitude Type ...","(Depth 6, Longitude 6, Magnitude Type ML, Regi...","(Latitude 148,)",8774,34573,8760,0.625891,0.745916
132,"If ['Depth 6', 'Longitude 6', 'Magnitude Type ...","(Depth 6, Longitude 6, Magnitude Type ML)","(Latitude 148,)",8815,34573,8789,0.625633,0.744472
98,"If ['Depth 5', 'Longitude 6', 'Magnitude Type ...","(Depth 5, Longitude 6, Magnitude Type ML, Regi...","(Latitude 148,)",8268,34573,8252,0.618374,0.760502
22,"If ['Region Name OAXACA, MEXICO'], Then ['Magn...","(Region Name OAXACA, MEXICO,)","(Magnitude Type M,)",4996,17760,4818,0.617828,0.711562
93,"If ['Depth 5', 'Longitude 6', 'Magnitude Type ...","(Depth 5, Longitude 6, Magnitude Type ML)","(Latitude 148,)",8350,34573,8290,0.616298,0.757168
27,"If ['Magnitude Type ML', 'Region Name ANTOFAGA...","(Magnitude Type ML, Region Name ANTOFAGASTA, C...","(Longitude 29,)",5025,17759,4811,0.614159,0.708507
134,"If ['Depth 6', 'Latitude 148'], Then ['Longitu...","(Depth 6, Latitude 148)","(Longitude 6, Magnitude Type ML)",10237,23802,8789,0.613903,0.537228
110,"If ['Latitude 177', 'Longitude 52', 'Magnitude...","(Latitude 177, Longitude 52, Magnitude Type ML)","(Region Name GREECE,)",4058,13565,3833,0.613560,0.689413
7,"If ['Magnitude Type ML', 'Region Name SOUTHERN...","(Magnitude Type ML, Region Name SOUTHERN GREECE)","(Longitude 53,)",4079,18164,4059,0.609280,0.774582
3,"If ['Magnitude Type ML', 'Region Name TARAPACA...","(Magnitude Type ML, Region Name TARAPACA, CHILE)","(Longitude 29,)",3596,17759,3493,0.584023,0.792912
52,"If ['Eqid 57', 'Latitude 148', 'Longitude 6'],...","(Eqid 57, Latitude 148, Longitude 6)","(Region Name ISLAND OF HAWAII, HAWAII,)",4538,27976,4533,0.580465,0.837640
15,"If ['Latitude 144', 'Region Name OAXACA, MEXIC...","(Latitude 144, Region Name OAXACA, MEXICO)","(Magnitude Type M,)",3501,17760,3376,0.577193,0.797260
67,"If ['Eqid 54', 'Latitude 148', 'Longitude 6', ...","(Eqid 54, Latitude 148, Longitude 6, Magnitude...","(Region Name ISLAND OF HAWAII, HAWAII,)",4180,27976,4173,0.573744,0.850373
...,...,...,...,...,...,...,...,...
97,"If ['Depth 5', 'Latitude 148', 'Longitude 6', ...","(Depth 5, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",9366,192081,8252,0.462010,0.945754
68,"If ['Eqid 54', 'Latitude 148', 'Longitude 6', ...","(Eqid 54, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4625,192081,4173,0.461998,0.973630
65,"If ['Eqid 54', 'Latitude 148', 'Longitude 6'],...","(Eqid 54, Latitude 148, Longitude 6)","(Magnitude Type ML,)",4642,192081,4180,0.461118,0.973492
61,"If ['Eqid 54', 'Longitude 6'], Then ['Magnitud...","(Eqid 54, Longitude 6)","(Magnitude Type ML,)",4685,192081,4211,0.460375,0.973208
95,"If ['Depth 5', 'Latitude 148', 'Longitude 6'],...","(Depth 5, Latitude 148, Longitude 6)","(Magnitude Type ML,)",9456,192081,8290,0.459925,0.945034
44,"If ['Eqid 55', 'Latitude 148', 'Longitude 6', ...","(Eqid 55, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4395,192081,3952,0.459889,0.974871
41,"If ['Eqid 55', 'Latitude 148', 'Longitude 6'],...","(Eqid 55, Latitude 148, Longitude 6)","(Magnitude Type ML,)",4404,192081,3956,0.459435,0.974799
91,"If ['Depth 5', 'Longitude 6'], Then ['Magnitud...","(Depth 5, Longitude 6)","(Magnitude Type ML,)",9567,192081,8350,0.458132,0.944210
40,"If ['Eqid 55', 'Latitude 148'], Then ['Magnitu...","(Eqid 55, Latitude 148)","(Magnitude Type ML,)",4446,192081,3976,0.457493,0.974469
102,"If ['Depth 14'], Then ['Magnitude Type ML']","(Depth 14,)","(Magnitude Type ML,)",12306,192081,10538,0.455596,0.927397
137,"If ['Depth 6', 'Latitude 148', 'Longitude 6', ...","(Depth 6, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",10166,192081,8760,0.453651,0.940192
114,"If ['Latitude 176'], Then ['Magnitude Type ML']","(Latitude 176,)","(Magnitude Type ML,)",14582,192081,12267,0.452553,0.913079
135,"If ['Depth 6', 'Latitude 148', 'Longitude 6'],...","(Depth 6, Latitude 148, Longitude 6)","(Magnitude Type ML,)",10235,192081,8789,0.452238,0.939641
100,"If ['Depth 16'], Then ['Magnitude Type ML']","(Depth 16,)","(Magnitude Type ML,)",12114,192081,10272,0.450711,0.928033
131,"If ['Depth 6', 'Longitude 6'], Then ['Magnitud...","(Depth 6, Longitude 6)","(Magnitude Type ML,)",10310,192081,8815,0.450444,0.939016
116,"If ['Magnitude 46'], Then ['Magnitude Type ML']","(Magnitude 46,)","(Magnitude Type ML,)",15270,192081,12634,0.446574,0.908041
35,"If ['Eqid 56', 'Latitude 148', 'Longitude 6', ...","(Eqid 56, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4349,192081,3778,0.444187,0.974462
32,"If ['Eqid 56', 'Latitude 148', 'Longitude 6'],...","(Eqid 56, Latitude 148, Longitude 6)","(Magnitude Type ML,)",4355,192081,3779,0.443706,0.974405
28,"If ['Eqid 56', 'Longitude 6'], Then ['Magnitud...","(Eqid 56, Longitude 6)","(Magnitude Type ML,)",4393,192081,3809,0.443446,0.974168
88,"If ['Depth 17'], Then ['Magnitude Type ML']","(Depth 17,)","(Magnitude Type ML,)",8698,192081,7343,0.441223,0.948029
107,"If ['Magnitude 49'], Then ['Magnitude Type ML']","(Magnitude 49,)","(Magnitude Type ML,)",13339,192081,10983,0.440277,0.919280
57,"If ['Eqid 57', 'Latitude 148', 'Longitude 6', ...","(Eqid 57, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4533,192081,3887,0.438863,0.973128
59,"If ['Latitude 181'], Then ['Magnitude Type ML']","(Latitude 181,)","(Magnitude Type ML,)",6013,192081,5100,0.437357,0.964113
86,"If ['Latitude 180'], Then ['Magnitude Type ML']","(Latitude 180,)","(Magnitude Type ML,)",8274,192081,6858,0.432283,0.949922
101,"If ['Magnitude 51'], Then ['Magnitude Type ML']","(Magnitude 51,)","(Magnitude Type ML,)",12152,192081,9853,0.431055,0.925656
74,"If ['Depth 20'], Then ['Magnitude Type ML']","(Depth 20,)","(Magnitude Type ML,)",6698,192081,5478,0.423188,0.959038
90,"If ['Magnitude 54'], Then ['Magnitude Type ML']","(Magnitude 54,)","(Magnitude Type ML,)",9935,192081,7995,0.423177,0.938795
85,"If ['Depth 21'], Then ['Magnitude Type ML']","(Depth 21,)","(Magnitude Type ML,)",7627,192081,6157,0.419659,0.952999
24,"If ['Eqid 1'], Then ['Magnitude Type ML']","(Eqid 1,)","(Magnitude Type ML,)",5259,192081,4221,0.412300,0.967393
17,"If ['Eqid 3'], Then ['Magnitude Type ML']","(Eqid 3,)","(Magnitude Type ML,)",4917,192081,3950,0.411950,0.969521

In [61]:
semua_nilai_dari_atribut = []
for nama_kolom in Dataset.columns:
    temp_data = sorted(Dataset[nama_kolom].unique())
    semua_nilai_dari_atribut.extend(temp_data)

# ! INPUT FOR GA

In [62]:
RulesForGA

{('Longitude 49',): ('Magnitude Type ML',),
 ('Magnitude 106',): ('Magnitude Type mb',),
 ('Longitude 29', 'Region Name TARAPACA, CHILE'): ('Magnitude Type ML',),
 ('Magnitude Type ML', 'Region Name TARAPACA, CHILE'): ('Longitude 29',),
 ('Region Name AEGEAN SEA',): ('Magnitude Type ML',),
 ('Magnitude 103',): ('Magnitude Type mb',),
 ('Longitude 53', 'Region Name SOUTHERN GREECE'): ('Magnitude Type ML',),
 ('Magnitude Type ML', 'Region Name SOUTHERN GREECE'): ('Longitude 53',),
 ('Longitude 52', 'Region Name IONIAN SEA'): ('Latitude 176',
  'Magnitude Type ML'),
 ('Magnitude Type ML', 'Region Name IONIAN SEA'): ('Latitude 176',),
 ('Latitude 176', 'Longitude 52'): ('Magnitude Type ML',),
 ('Latitude 176',
  'Longitude 52',
  'Magnitude Type ML'): ('Region Name IONIAN SEA',),
 ('Latitude 176',
  'Longitude 52',
  'Region Name IONIAN SEA'): ('Magnitude Type ML',),
 ('Latitude 176',
  'Magnitude Type ML',
  'Region Name IONIAN SEA'): ('Longitude 52',),
 ('Longitude 52',
  'Magnitude Type ML',
  'Region Name IONIAN SEA'): ('Latitude 176',),
 ('Latitude 144', 'Region Name OAXACA, MEXICO'): ('Magnitude Type  M',),
 ('Magnitude 100',): ('Magnitude Type mb',),
 ('Eqid 3',): ('Magnitude Type ML',),
 ('Latitude 175',
  'Longitude 54',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): ('Magnitude Type ML',),
 ('Latitude 175',
  'Magnitude Type ML',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): ('Longitude 54',),
 ('Longitude 54',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): ('Magnitude Type ML',),
 ('Magnitude Type ML',
  'Region Name DODECANESE IS.-TURKEY BORDER REG'): ('Longitude 54',),
 ('Region Name OAXACA, MEXICO',): ('Magnitude Type  M',),
 ('Longitude 56', 'Region Name CENTRAL TURKEY'): ('Magnitude Type ML',),
 ('Eqid 1',): ('Magnitude Type ML',),
 ('Magnitude 98',): ('Magnitude Type mb',),
 ('Longitude 29', 'Region Name ANTOFAGASTA, CHILE'): ('Magnitude Type ML',),
 ('Magnitude Type ML', 'Region Name ANTOFAGASTA, CHILE'): ('Longitude 29',),
 ('Eqid 56', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 56', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 56', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Eqid 56',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 56', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 56', 'Latitude 148', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 56',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 56',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Eqid 56',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 55', 'Magnitude Type ML'): ('Latitude 148',),
 ('Eqid 55', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Eqid 55',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 55', 'Latitude 148'): ('Magnitude Type ML',),
 ('Eqid 55', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 55', 'Latitude 148', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 55',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 55',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Eqid 55',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Magnitude 95',): ('Magnitude Type mb',),
 ('Eqid 17',): ('Magnitude Type ML',),
 ('Longitude 57',): ('Magnitude Type ML',),
 ('Magnitude Type mb', 'Region Name OKLAHOMA'): ('Longitude 21',),
 ('Eqid 57', 'Latitude 148'): ('Longitude 6',),
 ('Eqid 57', 'Longitude 6'): ('Latitude 148',),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 57', 'Latitude 148', 'Magnitude Type ML'): ('Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'),
 ('Eqid 57',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 57',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 57',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Eqid 57',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 181',): ('Magnitude Type ML',),
 ('Latitude 172', 'Region Name CRETE, GREECE'): ('Magnitude Type ML',),
 ('Eqid 54', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 54', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 54', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Eqid 54',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Eqid 54', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Eqid 54', 'Latitude 148', 'Magnitude Type ML'): ('Longitude 6',),
 ('Eqid 54',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Eqid 54',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Eqid 54',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Region Name CENTRAL TURKEY',): ('Magnitude Type ML',),
 ('Longitude 54', 'Region Name CRETE, GREECE'): ('Magnitude Type ML',),
 ('Longitude 58', 'Magnitude Type ML'): ('Region Name EASTERN TURKEY',),
 ('Longitude 58', 'Region Name EASTERN TURKEY'): ('Magnitude Type ML',),
 ('Depth 20',): ('Magnitude Type ML',),
 ('Latitude 179',
  'Longitude 54',
  'Region Name NEAR THE COAST OF WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Longitude 54',
  'Region Name NEAR THE COAST OF WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Latitude 184', 'Longitude 50'): ('Magnitude Type ML',),
 ('Latitude 184',
  'Longitude 50',
  'Magnitude Type ML'): ('Region Name CENTRAL ITALY',),
 ('Latitude 184',
  'Longitude 50',
  'Region Name CENTRAL ITALY'): ('Magnitude Type ML',),
 ('Latitude 184',
  'Magnitude Type ML',
  'Region Name CENTRAL ITALY'): ('Longitude 50',),
 ('Longitude 50', 'Region Name CENTRAL ITALY'): ('Magnitude Type ML',),
 ('Magnitude Type ML', 'Region Name CENTRAL ITALY'): ('Longitude 50',),
 ('Longitude 51',): ('Magnitude Type ML',),
 ('Longitude 22',): ('Magnitude Type  M',),
 ('Depth 21',): ('Magnitude Type ML',),
 ('Latitude 180',): ('Magnitude Type ML',),
 ('Longitude 50',): ('Magnitude Type ML',),
 ('Depth 17',): ('Magnitude Type ML',),
 ('Latitude 178', 'Region Name EASTERN TURKEY'): ('Magnitude Type ML',),
 ('Magnitude 54',): ('Magnitude Type ML',),
 ('Depth 5', 'Longitude 6'): ('Magnitude Type ML',),
 ('Depth 5', 'Magnitude Type ML'): ('Longitude 6',),
 ('Depth 5', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Depth 5',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Depth 5', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Depth 5',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Depth 5',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Depth 5',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Longitude 55', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Depth 16',): ('Magnitude Type ML',),
 ('Magnitude 51',): ('Magnitude Type ML',),
 ('Depth 14',): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude Type MD'): ('Latitude 148',),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude Type MD'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Longitude 6',
  'Magnitude Type MD',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 179', 'Longitude 54'): ('Magnitude Type ML',),
 ('Magnitude 49',): ('Magnitude Type ML',),
 ('Latitude 178', 'Region Name GREECE'): ('Magnitude Type ML',),
 ('Latitude 177', 'Longitude 52'): ('Magnitude Type ML',),
 ('Latitude 177',
  'Longitude 52',
  'Magnitude Type ML'): ('Region Name GREECE',),
 ('Latitude 177',
  'Longitude 52',
  'Region Name GREECE'): ('Magnitude Type ML',),
 ('Latitude 177', 'Region Name GREECE'): ('Magnitude Type ML',),
 ('Longitude 53', 'Region Name GREECE'): ('Magnitude Type ML',),
 ('Latitude 176',): ('Magnitude Type ML',),
 ('Latitude 177', 'Longitude 53'): ('Magnitude Type ML',),
 ('Magnitude 46',): ('Magnitude Type ML',),
 ('Latitude 175', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Latitude 175', 'Longitude 54'): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude 43'): ('Latitude 148',),
 ('Latitude 148', 'Magnitude 43'): ('Longitude 6',),
 ('Latitude 178', 'Longitude 53'): ('Magnitude Type ML',),
 ('Magnitude 31', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Latitude 178', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Depth 12', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Longitude 54', 'Region Name WESTERN TURKEY'): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude 36'): ('Latitude 148',),
 ('Latitude 148', 'Magnitude 36'): ('Longitude 6',),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude 36'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Longitude 6',
  'Magnitude 36',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Longitude 54', 'Magnitude 36'): ('Magnitude Type ML',),
 ('Depth 6', 'Longitude 6'): ('Magnitude Type ML',),
 ('Depth 6', 'Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Depth 6',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Depth 6', 'Latitude 148'): ('Longitude 6', 'Magnitude Type ML'),
 ('Depth 6', 'Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Depth 6',
  'Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Depth 6',
  'Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Depth 6',
  'Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 178', 'Longitude 54'): ('Magnitude Type ML',),
 ('Depth 12', 'Longitude 54'): ('Magnitude Type ML',),
 ('Longitude 54', 'Magnitude 31'): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude 33'): ('Latitude 148',),
 ('Latitude 148', 'Magnitude 33'): ('Longitude 6',),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude 33'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Longitude 6',
  'Magnitude 33',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Longitude 54', 'Magnitude 33'): ('Magnitude Type ML',),
 ('Longitude 6', 'Magnitude Type ML'): ('Latitude 148',),
 ('Longitude 6', 'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 148', 'Magnitude Type ML'): ('Longitude 6',),
 ('Latitude 148',
  'Longitude 6',
  'Magnitude Type ML'): ('Region Name ISLAND OF HAWAII, HAWAII',),
 ('Latitude 148',
  'Longitude 6',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Magnitude Type ML',),
 ('Longitude 6',
  'Magnitude Type ML',
  'Region Name ISLAND OF HAWAII, HAWAII'): ('Latitude 148',),
 ('Latitude 148', 'Longitude 6'): ('Magnitude Type ML',),
 ('Latitude 148',): ('Longitude 6',),
 ('Depth 18', 'Longitude 54'): ('Magnitude Type ML',)}

In [63]:
AssosiationRulesDataFrameForGA = pd.DataFrame({'Rules': FindAnteConse(RulesForGA),
                                          'Antecedence': FindAntecedence(RulesForGA) ,
                                          'Consequent': FindConsequent(RulesForGA) ,
                                          'sup(A)': CheckSupport(FindAntecedence(RulesForGA)),
                                          'sup(B)' : CheckSupport(FindConsequent(RulesForGA)),
                                          'sup(A U B)' : CheckSupport(FindAntecedenceConsequent(RulesForGA))
                                        })

AssosiationRulesDataFrameForGA['Kulczynski'] = (AssosiationRulesDataFrameForGA['sup(A U B)'] / 2) * ( ( 1/AssosiationRulesDataFrameForGA['sup(A)'] ) +  ( 1/AssosiationRulesDataFrameForGA['sup(B)'] ))
AssosiationRulesDataFrameForGA['IR'] = (abs(AssosiationRulesDataFrameForGA['sup(A)'] - AssosiationRulesDataFrameForGA['sup(B)'])) / (AssosiationRulesDataFrameForGA['sup(A)'] + AssosiationRulesDataFrameForGA['sup(B)'] - AssosiationRulesDataFrameForGA['sup(A U B)'])
AssosiationRulesDataFrameForGA = AssosiationRulesDataFrameForGA.sort_values('Kulczynski', ascending=False)
AssosiationRulesDataFrameForGA = AssosiationRulesDataFrameForGA[AssosiationRulesDataFrameForGA['sup(A)'] >= minsup]
AssosiationRulesDataFrameForGA = AssosiationRulesDataFrameForGA[AssosiationRulesDataFrameForGA['sup(B)'] >= minsup]
AssosiationRulesDataFrameForGA = AssosiationRulesDataFrameForGA[AssosiationRulesDataFrameForGA['sup(A U B)'] >= minsup]

In [64]:
AssosiationRulesDataFrameForGA

,Rules,Antecedence,Consequent,sup(A),sup(B),sup(A U B),Kulczynski,IR
150,"If ['Latitude 148', 'Longitude 6', 'Magnitude ...","(Latitude 148, Longitude 6, Magnitude Type ML)","(Region Name ISLAND OF HAWAII, HAWAII,)",22697,27976,22309,0.890169,0.186116
11,"If ['Latitude 176', 'Longitude 52', 'Magnitude...","(Latitude 176, Longitude 52, Magnitude Type ML)","(Region Name IONIAN SEA,)",3417,4496,3417,0.880004,0.239991
148,"If ['Longitude 6', 'Region Name ISLAND OF HAWA...","(Longitude 6, Region Name ISLAND OF HAWAII, HA...","(Latitude 148,)",27976,34573,27191,0.879211,0.186577
154,"If ['Latitude 148'], Then ['Longitude 6']","(Latitude 148,)","(Longitude 6,)",34573,30265,28010,0.867831,0.116976
149,"If ['Latitude 148', 'Magnitude Type ML'], Then...","(Latitude 148, Magnitude Type ML)","(Longitude 6,)",23432,30265,22697,0.859287,0.220419
78,"If ['Latitude 184', 'Longitude 50', 'Magnitude...","(Latitude 184, Longitude 50, Magnitude Type ML)","(Region Name CENTRAL ITALY,)",4368,6920,4368,0.815607,0.368786
152,"If ['Longitude 6', 'Magnitude Type ML', 'Regio...","(Longitude 6, Magnitude Type ML, Region Name I...","(Latitude 148,)",22795,34573,22309,0.811976,0.335948
147,"If ['Longitude 6', 'Magnitude Type ML'], Then ...","(Longitude 6, Magnitude Type ML)","(Latitude 148,)",23802,34573,22697,0.805035,0.301895
72,"If ['Longitude 58', 'Magnitude Type ML'], Then...","(Longitude 58, Magnitude Type ML)","(Region Name EASTERN TURKEY,)",6378,9183,5648,0.750297,0.282962
82,"If ['Magnitude Type ML', 'Region Name CENTRAL ...","(Magnitude Type ML, Region Name CENTRAL ITALY)","(Longitude 50,)",6854,8274,5601,0.747063,0.149050
80,"If ['Latitude 184', 'Magnitude Type ML', 'Regi...","(Latitude 184, Magnitude Type ML, Region Name ...","(Longitude 50,)",5311,8274,4368,0.675181,0.321471
136,"If ['Depth 6', 'Latitude 148', 'Longitude 6', ...","(Depth 6, Latitude 148, Longitude 6, Magnitude...","(Region Name ISLAND OF HAWAII, HAWAII,)",8789,27976,8760,0.654913,0.685128
133,"If ['Depth 6', 'Longitude 6', 'Region Name ISL...","(Depth 6, Longitude 6, Region Name ISLAND OF H...","(Latitude 148,)",10188,34573,10166,0.645943,0.704871
96,"If ['Depth 5', 'Latitude 148', 'Longitude 6', ...","(Depth 5, Latitude 148, Longitude 6, Magnitude...","(Region Name ISLAND OF HAWAII, HAWAII,)",8290,27976,8252,0.645192,0.702720
49,"If ['Magnitude Type mb', 'Region Name OKLAHOMA...","(Magnitude Type mb, Region Name OKLAHOMA)","(Longitude 21,)",3210,11453,3182,0.634554,0.717969
94,"If ['Depth 5', 'Longitude 6', 'Region Name ISL...","(Depth 5, Longitude 6, Region Name ISLAND OF H...","(Latitude 148,)",9388,34573,9366,0.634281,0.727995
84,"If ['Longitude 22'], Then ['Magnitude Type M']","(Longitude 22,)","(Magnitude Type M,)",7215,17760,6424,0.626040,0.568433
138,"If ['Depth 6', 'Longitude 6', 'Magnitude Type ...","(Depth 6, Longitude 6, Magnitude Type ML, Regi...","(Latitude 148,)",8774,34573,8760,0.625891,0.745916
132,"If ['Depth 6', 'Longitude 6', 'Magnitude Type ...","(Depth 6, Longitude 6, Magnitude Type ML)","(Latitude 148,)",8815,34573,8789,0.625633,0.744472
98,"If ['Depth 5', 'Longitude 6', 'Magnitude Type ...","(Depth 5, Longitude 6, Magnitude Type ML, Regi...","(Latitude 148,)",8268,34573,8252,0.618374,0.760502
22,"If ['Region Name OAXACA, MEXICO'], Then ['Magn...","(Region Name OAXACA, MEXICO,)","(Magnitude Type M,)",4996,17760,4818,0.617828,0.711562
93,"If ['Depth 5', 'Longitude 6', 'Magnitude Type ...","(Depth 5, Longitude 6, Magnitude Type ML)","(Latitude 148,)",8350,34573,8290,0.616298,0.757168
27,"If ['Magnitude Type ML', 'Region Name ANTOFAGA...","(Magnitude Type ML, Region Name ANTOFAGASTA, C...","(Longitude 29,)",5025,17759,4811,0.614159,0.708507
134,"If ['Depth 6', 'Latitude 148'], Then ['Longitu...","(Depth 6, Latitude 148)","(Longitude 6, Magnitude Type ML)",10237,23802,8789,0.613903,0.537228
110,"If ['Latitude 177', 'Longitude 52', 'Magnitude...","(Latitude 177, Longitude 52, Magnitude Type ML)","(Region Name GREECE,)",4058,13565,3833,0.613560,0.689413
7,"If ['Magnitude Type ML', 'Region Name SOUTHERN...","(Magnitude Type ML, Region Name SOUTHERN GREECE)","(Longitude 53,)",4079,18164,4059,0.609280,0.774582
3,"If ['Magnitude Type ML', 'Region Name TARAPACA...","(Magnitude Type ML, Region Name TARAPACA, CHILE)","(Longitude 29,)",3596,17759,3493,0.584023,0.792912
52,"If ['Eqid 57', 'Latitude 148', 'Longitude 6'],...","(Eqid 57, Latitude 148, Longitude 6)","(Region Name ISLAND OF HAWAII, HAWAII,)",4538,27976,4533,0.580465,0.837640
15,"If ['Latitude 144', 'Region Name OAXACA, MEXIC...","(Latitude 144, Region Name OAXACA, MEXICO)","(Magnitude Type M,)",3501,17760,3376,0.577193,0.797260
67,"If ['Eqid 54', 'Latitude 148', 'Longitude 6', ...","(Eqid 54, Latitude 148, Longitude 6, Magnitude...","(Region Name ISLAND OF HAWAII, HAWAII,)",4180,27976,4173,0.573744,0.850373
...,...,...,...,...,...,...,...,...
97,"If ['Depth 5', 'Latitude 148', 'Longitude 6', ...","(Depth 5, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",9366,192081,8252,0.462010,0.945754
68,"If ['Eqid 54', 'Latitude 148', 'Longitude 6', ...","(Eqid 54, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4625,192081,4173,0.461998,0.973630
65,"If ['Eqid 54', 'Latitude 148', 'Longitude 6'],...","(Eqid 54, Latitude 148, Longitude 6)","(Magnitude Type ML,)",4642,192081,4180,0.461118,0.973492
61,"If ['Eqid 54', 'Longitude 6'], Then ['Magnitud...","(Eqid 54, Longitude 6)","(Magnitude Type ML,)",4685,192081,4211,0.460375,0.973208
95,"If ['Depth 5', 'Latitude 148', 'Longitude 6'],...","(Depth 5, Latitude 148, Longitude 6)","(Magnitude Type ML,)",9456,192081,8290,0.459925,0.945034
44,"If ['Eqid 55', 'Latitude 148', 'Longitude 6', ...","(Eqid 55, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4395,192081,3952,0.459889,0.974871
41,"If ['Eqid 55', 'Latitude 148', 'Longitude 6'],...","(Eqid 55, Latitude 148, Longitude 6)","(Magnitude Type ML,)",4404,192081,3956,0.459435,0.974799
91,"If ['Depth 5', 'Longitude 6'], Then ['Magnitud...","(Depth 5, Longitude 6)","(Magnitude Type ML,)",9567,192081,8350,0.458132,0.944210
40,"If ['Eqid 55', 'Latitude 148'], Then ['Magnitu...","(Eqid 55, Latitude 148)","(Magnitude Type ML,)",4446,192081,3976,0.457493,0.974469
102,"If ['Depth 14'], Then ['Magnitude Type ML']","(Depth 14,)","(Magnitude Type ML,)",12306,192081,10538,0.455596,0.927397
137,"If ['Depth 6', 'Latitude 148', 'Longitude 6', ...","(Depth 6, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",10166,192081,8760,0.453651,0.940192
114,"If ['Latitude 176'], Then ['Magnitude Type ML']","(Latitude 176,)","(Magnitude Type ML,)",14582,192081,12267,0.452553,0.913079
135,"If ['Depth 6', 'Latitude 148', 'Longitude 6'],...","(Depth 6, Latitude 148, Longitude 6)","(Magnitude Type ML,)",10235,192081,8789,0.452238,0.939641
100,"If ['Depth 16'], Then ['Magnitude Type ML']","(Depth 16,)","(Magnitude Type ML,)",12114,192081,10272,0.450711,0.928033
131,"If ['Depth 6', 'Longitude 6'], Then ['Magnitud...","(Depth 6, Longitude 6)","(Magnitude Type ML,)",10310,192081,8815,0.450444,0.939016
116,"If ['Magnitude 46'], Then ['Magnitude Type ML']","(Magnitude 46,)","(Magnitude Type ML,)",15270,192081,12634,0.446574,0.908041
35,"If ['Eqid 56', 'Latitude 148', 'Longitude 6', ...","(Eqid 56, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4349,192081,3778,0.444187,0.974462
32,"If ['Eqid 56', 'Latitude 148', 'Longitude 6'],...","(Eqid 56, Latitude 148, Longitude 6)","(Magnitude Type ML,)",4355,192081,3779,0.443706,0.974405
28,"If ['Eqid 56', 'Longitude 6'], Then ['Magnitud...","(Eqid 56, Longitude 6)","(Magnitude Type ML,)",4393,192081,3809,0.443446,0.974168
88,"If ['Depth 17'], Then ['Magnitude Type ML']","(Depth 17,)","(Magnitude Type ML,)",8698,192081,7343,0.441223,0.948029
107,"If ['Magnitude 49'], Then ['Magnitude Type ML']","(Magnitude 49,)","(Magnitude Type ML,)",13339,192081,10983,0.440277,0.919280
57,"If ['Eqid 57', 'Latitude 148', 'Longitude 6', ...","(Eqid 57, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4533,192081,3887,0.438863,0.973128
59,"If ['Latitude 181'], Then ['Magnitude Type ML']","(Latitude 181,)","(Magnitude Type ML,)",6013,192081,5100,0.437357,0.964113
86,"If ['Latitude 180'], Then ['Magnitude Type ML']","(Latitude 180,)","(Magnitude Type ML,)",8274,192081,6858,0.432283,0.949922
101,"If ['Magnitude 51'], Then ['Magnitude Type ML']","(Magnitude 51,)","(Magnitude Type ML,)",12152,192081,9853,0.431055,0.925656
74,"If ['Depth 20'], Then ['Magnitude Type ML']","(Depth 20,)","(Magnitude Type ML,)",6698,192081,5478,0.423188,0.959038
90,"If ['Magnitude 54'], Then ['Magnitude Type ML']","(Magnitude 54,)","(Magnitude Type ML,)",9935,192081,7995,0.423177,0.938795
85,"If ['Depth 21'], Then ['Magnitude Type ML']","(Depth 21,)","(Magnitude Type ML,)",7627,192081,6157,0.419659,0.952999
24,"If ['Eqid 1'], Then ['Magnitude Type ML']","(Eqid 1,)","(Magnitude Type ML,)",5259,192081,4221,0.412300,0.967393
17,"If ['Eqid 3'], Then ['Magnitude Type ML']","(Eqid 3,)","(Magnitude Type ML,)",4917,192081,3950,0.411950,0.969521

In [65]:
CrossOverProbability = 0.8
MutationProbability = 0.01

In [66]:
BestAssociationRulesDataFrame = AssosiationRulesDataFrameForGA

In [67]:
constanta = len(AssociationRules)

In [68]:
constanta

156

In [69]:
BestAssociationRulesDataFrame

,Rules,Antecedence,Consequent,sup(A),sup(B),sup(A U B),Kulczynski,IR
150,"If ['Latitude 148', 'Longitude 6', 'Magnitude ...","(Latitude 148, Longitude 6, Magnitude Type ML)","(Region Name ISLAND OF HAWAII, HAWAII,)",22697,27976,22309,0.890169,0.186116
11,"If ['Latitude 176', 'Longitude 52', 'Magnitude...","(Latitude 176, Longitude 52, Magnitude Type ML)","(Region Name IONIAN SEA,)",3417,4496,3417,0.880004,0.239991
148,"If ['Longitude 6', 'Region Name ISLAND OF HAWA...","(Longitude 6, Region Name ISLAND OF HAWAII, HA...","(Latitude 148,)",27976,34573,27191,0.879211,0.186577
154,"If ['Latitude 148'], Then ['Longitude 6']","(Latitude 148,)","(Longitude 6,)",34573,30265,28010,0.867831,0.116976
149,"If ['Latitude 148', 'Magnitude Type ML'], Then...","(Latitude 148, Magnitude Type ML)","(Longitude 6,)",23432,30265,22697,0.859287,0.220419
78,"If ['Latitude 184', 'Longitude 50', 'Magnitude...","(Latitude 184, Longitude 50, Magnitude Type ML)","(Region Name CENTRAL ITALY,)",4368,6920,4368,0.815607,0.368786
152,"If ['Longitude 6', 'Magnitude Type ML', 'Regio...","(Longitude 6, Magnitude Type ML, Region Name I...","(Latitude 148,)",22795,34573,22309,0.811976,0.335948
147,"If ['Longitude 6', 'Magnitude Type ML'], Then ...","(Longitude 6, Magnitude Type ML)","(Latitude 148,)",23802,34573,22697,0.805035,0.301895
72,"If ['Longitude 58', 'Magnitude Type ML'], Then...","(Longitude 58, Magnitude Type ML)","(Region Name EASTERN TURKEY,)",6378,9183,5648,0.750297,0.282962
82,"If ['Magnitude Type ML', 'Region Name CENTRAL ...","(Magnitude Type ML, Region Name CENTRAL ITALY)","(Longitude 50,)",6854,8274,5601,0.747063,0.149050
80,"If ['Latitude 184', 'Magnitude Type ML', 'Regi...","(Latitude 184, Magnitude Type ML, Region Name ...","(Longitude 50,)",5311,8274,4368,0.675181,0.321471
136,"If ['Depth 6', 'Latitude 148', 'Longitude 6', ...","(Depth 6, Latitude 148, Longitude 6, Magnitude...","(Region Name ISLAND OF HAWAII, HAWAII,)",8789,27976,8760,0.654913,0.685128
133,"If ['Depth 6', 'Longitude 6', 'Region Name ISL...","(Depth 6, Longitude 6, Region Name ISLAND OF H...","(Latitude 148,)",10188,34573,10166,0.645943,0.704871
96,"If ['Depth 5', 'Latitude 148', 'Longitude 6', ...","(Depth 5, Latitude 148, Longitude 6, Magnitude...","(Region Name ISLAND OF HAWAII, HAWAII,)",8290,27976,8252,0.645192,0.702720
49,"If ['Magnitude Type mb', 'Region Name OKLAHOMA...","(Magnitude Type mb, Region Name OKLAHOMA)","(Longitude 21,)",3210,11453,3182,0.634554,0.717969
94,"If ['Depth 5', 'Longitude 6', 'Region Name ISL...","(Depth 5, Longitude 6, Region Name ISLAND OF H...","(Latitude 148,)",9388,34573,9366,0.634281,0.727995
84,"If ['Longitude 22'], Then ['Magnitude Type M']","(Longitude 22,)","(Magnitude Type M,)",7215,17760,6424,0.626040,0.568433
138,"If ['Depth 6', 'Longitude 6', 'Magnitude Type ...","(Depth 6, Longitude 6, Magnitude Type ML, Regi...","(Latitude 148,)",8774,34573,8760,0.625891,0.745916
132,"If ['Depth 6', 'Longitude 6', 'Magnitude Type ...","(Depth 6, Longitude 6, Magnitude Type ML)","(Latitude 148,)",8815,34573,8789,0.625633,0.744472
98,"If ['Depth 5', 'Longitude 6', 'Magnitude Type ...","(Depth 5, Longitude 6, Magnitude Type ML, Regi...","(Latitude 148,)",8268,34573,8252,0.618374,0.760502
22,"If ['Region Name OAXACA, MEXICO'], Then ['Magn...","(Region Name OAXACA, MEXICO,)","(Magnitude Type M,)",4996,17760,4818,0.617828,0.711562
93,"If ['Depth 5', 'Longitude 6', 'Magnitude Type ...","(Depth 5, Longitude 6, Magnitude Type ML)","(Latitude 148,)",8350,34573,8290,0.616298,0.757168
27,"If ['Magnitude Type ML', 'Region Name ANTOFAGA...","(Magnitude Type ML, Region Name ANTOFAGASTA, C...","(Longitude 29,)",5025,17759,4811,0.614159,0.708507
134,"If ['Depth 6', 'Latitude 148'], Then ['Longitu...","(Depth 6, Latitude 148)","(Longitude 6, Magnitude Type ML)",10237,23802,8789,0.613903,0.537228
110,"If ['Latitude 177', 'Longitude 52', 'Magnitude...","(Latitude 177, Longitude 52, Magnitude Type ML)","(Region Name GREECE,)",4058,13565,3833,0.613560,0.689413
7,"If ['Magnitude Type ML', 'Region Name SOUTHERN...","(Magnitude Type ML, Region Name SOUTHERN GREECE)","(Longitude 53,)",4079,18164,4059,0.609280,0.774582
3,"If ['Magnitude Type ML', 'Region Name TARAPACA...","(Magnitude Type ML, Region Name TARAPACA, CHILE)","(Longitude 29,)",3596,17759,3493,0.584023,0.792912
52,"If ['Eqid 57', 'Latitude 148', 'Longitude 6'],...","(Eqid 57, Latitude 148, Longitude 6)","(Region Name ISLAND OF HAWAII, HAWAII,)",4538,27976,4533,0.580465,0.837640
15,"If ['Latitude 144', 'Region Name OAXACA, MEXIC...","(Latitude 144, Region Name OAXACA, MEXICO)","(Magnitude Type M,)",3501,17760,3376,0.577193,0.797260
67,"If ['Eqid 54', 'Latitude 148', 'Longitude 6', ...","(Eqid 54, Latitude 148, Longitude 6, Magnitude...","(Region Name ISLAND OF HAWAII, HAWAII,)",4180,27976,4173,0.573744,0.850373
...,...,...,...,...,...,...,...,...
97,"If ['Depth 5', 'Latitude 148', 'Longitude 6', ...","(Depth 5, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",9366,192081,8252,0.462010,0.945754
68,"If ['Eqid 54', 'Latitude 148', 'Longitude 6', ...","(Eqid 54, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4625,192081,4173,0.461998,0.973630
65,"If ['Eqid 54', 'Latitude 148', 'Longitude 6'],...","(Eqid 54, Latitude 148, Longitude 6)","(Magnitude Type ML,)",4642,192081,4180,0.461118,0.973492
61,"If ['Eqid 54', 'Longitude 6'], Then ['Magnitud...","(Eqid 54, Longitude 6)","(Magnitude Type ML,)",4685,192081,4211,0.460375,0.973208
95,"If ['Depth 5', 'Latitude 148', 'Longitude 6'],...","(Depth 5, Latitude 148, Longitude 6)","(Magnitude Type ML,)",9456,192081,8290,0.459925,0.945034
44,"If ['Eqid 55', 'Latitude 148', 'Longitude 6', ...","(Eqid 55, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4395,192081,3952,0.459889,0.974871
41,"If ['Eqid 55', 'Latitude 148', 'Longitude 6'],...","(Eqid 55, Latitude 148, Longitude 6)","(Magnitude Type ML,)",4404,192081,3956,0.459435,0.974799
91,"If ['Depth 5', 'Longitude 6'], Then ['Magnitud...","(Depth 5, Longitude 6)","(Magnitude Type ML,)",9567,192081,8350,0.458132,0.944210
40,"If ['Eqid 55', 'Latitude 148'], Then ['Magnitu...","(Eqid 55, Latitude 148)","(Magnitude Type ML,)",4446,192081,3976,0.457493,0.974469
102,"If ['Depth 14'], Then ['Magnitude Type ML']","(Depth 14,)","(Magnitude Type ML,)",12306,192081,10538,0.455596,0.927397
137,"If ['Depth 6', 'Latitude 148', 'Longitude 6', ...","(Depth 6, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",10166,192081,8760,0.453651,0.940192
114,"If ['Latitude 176'], Then ['Magnitude Type ML']","(Latitude 176,)","(Magnitude Type ML,)",14582,192081,12267,0.452553,0.913079
135,"If ['Depth 6', 'Latitude 148', 'Longitude 6'],...","(Depth 6, Latitude 148, Longitude 6)","(Magnitude Type ML,)",10235,192081,8789,0.452238,0.939641
100,"If ['Depth 16'], Then ['Magnitude Type ML']","(Depth 16,)","(Magnitude Type ML,)",12114,192081,10272,0.450711,0.928033
131,"If ['Depth 6', 'Longitude 6'], Then ['Magnitud...","(Depth 6, Longitude 6)","(Magnitude Type ML,)",10310,192081,8815,0.450444,0.939016
116,"If ['Magnitude 46'], Then ['Magnitude Type ML']","(Magnitude 46,)","(Magnitude Type ML,)",15270,192081,12634,0.446574,0.908041
35,"If ['Eqid 56', 'Latitude 148', 'Longitude 6', ...","(Eqid 56, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4349,192081,3778,0.444187,0.974462
32,"If ['Eqid 56', 'Latitude 148', 'Longitude 6'],...","(Eqid 56, Latitude 148, Longitude 6)","(Magnitude Type ML,)",4355,192081,3779,0.443706,0.974405
28,"If ['Eqid 56', 'Longitude 6'], Then ['Magnitud...","(Eqid 56, Longitude 6)","(Magnitude Type ML,)",4393,192081,3809,0.443446,0.974168
88,"If ['Depth 17'], Then ['Magnitude Type ML']","(Depth 17,)","(Magnitude Type ML,)",8698,192081,7343,0.441223,0.948029
107,"If ['Magnitude 49'], Then ['Magnitude Type ML']","(Magnitude 49,)","(Magnitude Type ML,)",13339,192081,10983,0.440277,0.919280
57,"If ['Eqid 57', 'Latitude 148', 'Longitude 6', ...","(Eqid 57, Latitude 148, Longitude 6, Region Na...","(Magnitude Type ML,)",4533,192081,3887,0.438863,0.973128
59,"If ['Latitude 181'], Then ['Magnitude Type ML']","(Latitude 181,)","(Magnitude Type ML,)",6013,192081,5100,0.437357,0.964113
86,"If ['Latitude 180'], Then ['Magnitude Type ML']","(Latitude 180,)","(Magnitude Type ML,)",8274,192081,6858,0.432283,0.949922
101,"If ['Magnitude 51'], Then ['Magnitude Type ML']","(Magnitude 51,)","(Magnitude Type ML,)",12152,192081,9853,0.431055,0.925656
74,"If ['Depth 20'], Then ['Magnitude Type ML']","(Depth 20,)","(Magnitude Type ML,)",6698,192081,5478,0.423188,0.959038
90,"If ['Magnitude 54'], Then ['Magnitude Type ML']","(Magnitude 54,)","(Magnitude Type ML,)",9935,192081,7995,0.423177,0.938795
85,"If ['Depth 21'], Then ['Magnitude Type ML']","(Depth 21,)","(Magnitude Type ML,)",7627,192081,6157,0.419659,0.952999
24,"If ['Eqid 1'], Then ['Magnitude Type ML']","(Eqid 1,)","(Magnitude Type ML,)",5259,192081,4221,0.412300,0.967393
17,"If ['Eqid 3'], Then ['Magnitude Type ML']","(Eqid 3,)","(Magnitude Type ML,)",4917,192081,3950,0.411950,0.969521

In [70]:
for step in range(1,101):    
    # Data Yang Mau Diolah Masuk
    BestAssociationRulesDataFrame
    AssosiationRulesDataFrameForGA = pd.DataFrame({'Rules': FindAnteConse(RulesForGA),
                                          'Antecedence': FindAntecedence(RulesForGA) ,
                                          'Consequent': FindConsequent(RulesForGA) ,
                                          'sup(A)': CheckSupport(FindAntecedence(RulesForGA)),
                                          'sup(B)' : CheckSupport(FindConsequent(RulesForGA)),
                                          'sup(A U B)' : CheckSupport(FindAntecedenceConsequent(RulesForGA))
                                        })

    AssosiationRulesDataFrameForGA['Kulczynski'] = (AssosiationRulesDataFrameForGA['sup(A U B)'] / 2) * ( ( 1/AssosiationRulesDataFrameForGA['sup(A)'] ) +  ( 1/AssosiationRulesDataFrameForGA['sup(B)'] ))
    AssosiationRulesDataFrameForGA['IR'] = (abs(AssosiationRulesDataFrameForGA['sup(A)'] - AssosiationRulesDataFrameForGA['sup(B)'])) / (AssosiationRulesDataFrameForGA['sup(A)'] + AssosiationRulesDataFrameForGA['sup(B)'] - AssosiationRulesDataFrameForGA['sup(A U B)'])
    AssosiationRulesDataFrameForGA = AssosiationRulesDataFrameForGA.sort_values('Kulczynski', ascending=False)
    AssosiationRulesDataFrameForGA = AssosiationRulesDataFrameForGA[AssosiationRulesDataFrameForGA['sup(A)'] >= minsup]
    AssosiationRulesDataFrameForGA = AssosiationRulesDataFrameForGA[AssosiationRulesDataFrameForGA['sup(B)'] >= minsup]
    AssosiationRulesDataFrameForGA = AssosiationRulesDataFrameForGA[AssosiationRulesDataFrameForGA['sup(A U B)'] >= minsup]
    
    # Hitung Fitness
    fitness = []
    for i in AssosiationRulesDataFrameForGA['Kulczynski']:
        value = float((("{:.6f}".format(i))))
        fitness.append(value)
    fitness = sorted(fitness, reverse=True)
    
    # Hitung total fitness
    total_fitness = round(sum(fitness),6)
    
    # Fitness Individu / Fitness Total
    fitness_per_total = []
    for i in fitness:
        temp = (round((i / total_fitness),6))
        fitness_per_total.append(temp)
    
    # Fitness Individu / Fitness Total displayed on DataFrame
    Fitness_DataFrame = pd.DataFrame({'Fitness Value': fitness,
                    'Total Fitness': total_fitness,
                    'Result': fitness_per_total})
    
    # Give ID for each fitness value
    IndexIndividual = []
    for i in range(len(fitness_per_total)):
        IndexIndividual.append(i)
    
    # ID and fitness to dict
    BeginningIndividual = dict(zip(IndexIndividual, fitness_per_total))
    
    # =============================================== SELECTION =============================================== 
    # Do Roulette Wheel
    RouletteResult = []
    for i in range(len(fitness)):
        temp = RouletteWheel(BeginningIndividual)
        if temp not in RouletteResult:
            RouletteResult.append(temp)
            
    IndividualValue = round(len(RouletteResult) * CrossOverProbability)

    # Update IndividualValue, If odd, IndividualValue - 1
    if IndividualValue % 2 == 0:
        IndividualValue = IndividualValue
    else:
        IndividualValue = IndividualValue - 1
    IndividualValue
    
    # Take some individu from RouletteResult based on IndividualValue
    RoulettePosition = RouletteResult[:IndividualValue]
    
    
    ListOfAntecedence = AssosiationRulesDataFrameForGA['Antecedence']
    ListOfConsequent  = AssosiationRulesDataFrameForGA['Consequent']
    
    ListAntecedence = []
    for i in ListOfAntecedence:
        ListAntecedence.append(i)

    ListConsequent = []
    for i in ListOfConsequent:
        ListConsequent.append(i)
        
    MyAssociationRules = dict(zip(ListAntecedence, ListConsequent))
    
    s = []
    for a,b in MyAssociationRules.items():
        d = []
        d.append(a)
        d.append(b)
        s.append(d)
        
    # Rules awal setelah seleksi adalah sebanyak RulesForCrossover, dan itu yang akan digunakan ke tahap berikutnya
    RulesForCrossover = []
    for i in RoulettePosition:
        RulesForCrossover.append(s[i])
        
    # Pada Tahap ini, Rules awal dianggap sebagai Rules yang Baik
    # Diberikan fitness baru pada masing2 Rules Baik untuk melihat siapa saja yang akan terkena crossover
    FitnessForCrossover = []
    for i in range(len(RulesForCrossover)):
        Temp = round(random.uniform(0,1), 1)
        FitnessForCrossover.append(Temp)
    
    # List Rules dengan ID, Nilai Fitness, dan Rulesnya
    RulesWithFitnessCrossover = []
    for i in range(len(RulesForCrossover)):
        Temp = i,FitnessForCrossover[i], RulesForCrossover[i]
        RulesWithFitnessCrossover.append(Temp)
    
    # Tidak semua rules hasil seleksi akan di crossover. Rules yang akan di crossover adalah rules yang fitnessnya lebih rendah dari CP
    RulesToCrossover = []
    for i in range(len(RulesWithFitnessCrossover)):
        if RulesWithFitnessCrossover[i][1] < CrossOverProbability:
            Temp = RulesWithFitnessCrossover[i][0], RulesWithFitnessCrossover[i][1], RulesWithFitnessCrossover[i][2]
            RulesToCrossover.append(Temp)

    RulesNotToCrossover = []
    for i in range(len(RulesWithFitnessCrossover)):
        if RulesWithFitnessCrossover[i][1] >= CrossOverProbability:
            Temp = RulesWithFitnessCrossover[i][2]
            RulesNotToCrossover.append(Temp)
    
#     print ('Rules awal adalah',len(RulesWithFitnessCrossover))
#     print ('dari',len(RulesWithFitnessCrossover),'Rules, ada',len(RulesToCrossover), 'yang mungkin di crossover.')
#     print ('Kemudian, ada',len(RulesNotToCrossover), 'Rules yang tidak mungkin di crossover')
    if len(RulesToCrossover) > 0:
        
        RulesToCrossover = sorted(RulesToCrossover, key=itemgetter(1))
    
        RulesFixToCrossover = [ ]
        RulesCanceledToCrossover = [ ]
        
        
        if len(RulesToCrossover) % 2 == 1:
            RulesFixToCrossover = RulesToCrossover[:len(RulesToCrossover) - 1]
            RulesCanceledToCrossover.append(RulesToCrossover[-1])
        
            ListOfRulesCanceledToCrossover = []
            for i in RulesCanceledToCrossover:
                Item = i[2]
                ListOfRulesCanceledToCrossover.append(Item)
            RulesNotToCrossover = RulesNotToCrossover + ListOfRulesCanceledToCrossover
        else:
            RulesFixToCrossover = RulesToCrossover
#             print('Rules yang fix mau di crossover adalah sebanyak' , len(RulesFixToCrossover))
            
            
        
        
    else:
#         RulesNotToCrossover = RulesToCrossover
        RulesNotToCrossover = RulesNotToCrossover
        
#     print ('Kemudian, dari',len(RulesToCrossover), 'rules yang mungkin di crossover, ada', len(RulesCanceledToCrossover),'Rules Batal Menjadi Calon Crossover')
        
    
#     print ('Maka pada akhirnya akan ada',len(RulesFixToCrossover), 'Rules yang Akan di Crossover')
#     print ('dan akan ada',len(RulesNotToCrossover), 'Rules yang Tidak di crossover')

    if len(RulesFixToCrossover) > 0:
    
        RulesForEncode = []
        for i in range(len(RulesFixToCrossover)):
            RulesForEncode.append(RulesFixToCrossover[i][2])
        RulesForEncode
    
        encode_result = Encode(RulesForEncode)
    
        # Pemasangan Individu
        Couple = []
        a = 0
        for i in range(int(len(RulesForEncode)/2)):
            b = a + 1
            c = [a,b]
            Couple.append(c)
            a = a + 1
            b = a + 1
            a = b
    
        RandomA = []
        RandomB = []
        for i in range(len(Couple)):
            RandomA.append(Couple[i][0])
            RandomB.append(Couple[i][1])
        
        ListEncodeByRandomA = [encode_result[i] for i in RandomA]
        ListEncodeByRandomB = [encode_result[i] for i in RandomB]
    
        CoupleForCrossover = tuple(zip(ListEncodeByRandomA, ListEncodeByRandomB))

        # Check Couple to Crossover
        # Pasangan dapat dipastikan dengan potongan kode dibawah
    #     for i in range(len(CoupleForCrossover)):
    #         print(Decode(CoupleForCrossover[i]))

        # Make a cutpoint for crossover
        TwoPoint = []
        for i in range(len(CoupleForCrossover)):
            RandomPoint = random.sample(range(1, len(CoupleForCrossover[0][0])), 2)
            TwoPoint.append(sorted(RandomPoint))
        
        Offspring = []
        const = len(CoupleForCrossover[0][0])
        for i in range(len(CoupleForCrossover)):
            left,right = [],[]
            for x in range(0, TwoPoint[i][0]):
                left.append(CoupleForCrossover[i][0][x])
                right.append(CoupleForCrossover[i][1][x])
            for q in range(TwoPoint[i][0], TwoPoint[i][1]):
                left.append(CoupleForCrossover[i][1][q])
                right.append(CoupleForCrossover[i][0][q])
            for k in range(TwoPoint[i][1], const):
                left.append(CoupleForCrossover[i][0][k])
                right.append(CoupleForCrossover[i][1][k])
            Offspring.append(left)
            Offspring.append(right)
        
        # Make sure Offspring from Crossover is not fail
        NewOffspringAfterCrossover = []
        for i in range(len(Offspring)):
            TempOffspring = Offspring[i]
            if ('00') in TempOffspring and ('11') in TempOffspring:
                NewOffspringAfterCrossover.append(TempOffspring)
        NewOffspringAfterCrossover
    
        BadRulesAfterCrossover = Decode(NewOffspringAfterCrossover)
    else:
        TempRules = Encode(RulesForCrossover)
        OriginalRules = Decode(TempRules)
        BadRulesAfterCrossover = OriginalRules
        
        
    AnteListOfBadRulesAfterCrossover = []
    ConseListOfBadRulesAfterCrossover = []
    for key,value in BadRulesAfterCrossover.items():
        AnteListOfBadRulesAfterCrossover.append(key)
        ConseListOfBadRulesAfterCrossover.append(value)
        
    ListOfBadRulesAfterCrossover = []
    for i in range(len(BadRulesAfterCrossover)):
        Rules = [AnteListOfBadRulesAfterCrossover[i], ConseListOfBadRulesAfterCrossover[i]]
        ListOfBadRulesAfterCrossover.append(Rules)
    
    # Join Offspring From Crossover to RulesNotToCrossover
    OffspringFromCrossover = ListOfBadRulesAfterCrossover + RulesNotToCrossover

    EncodeForMutation = Encode(OffspringFromCrossover)

    ProbabilityMutation = round(len(EncodeForMutation) * len(EncodeForMutation[0]) * MutationProbability)
    FitnessForMutation = []
    for i in EncodeForMutation:
        Temp = []
        for j in range(len(i)):
            Temp.append(round(random.uniform(0,1), 3))
        FitnessForMutation.append(Temp)
        
    RulesToMutation = []
    RulesNotToMutation = []
    for i in range(len(FitnessForMutation)):
        if min(FitnessForMutation[i]) < MutationProbability:
            RulesToMutation.append(EncodeForMutation[i])
        else:
            RulesNotToMutation.append(EncodeForMutation[i]) 
    
    MutationPoint = ListOfMutationPoints(RulesToMutation, ProbabilityMutation)
    
    # MUTASI
    change = {
                '00' : '11',
                '01' : '10',
                '10' : '01',
                '11' : '00'
            }

    for i in range(len(MutationPoint)):
        for j in range(len(MutationPoint[i])):
            RulesToMutation[i][MutationPoint[i][j]] = change[RulesToMutation[i][MutationPoint[i][j]]]
            
            
            
    NewOffspringAfterMutation = []
    for i in range(len(RulesToMutation)):
        TempOffspring = RulesToMutation[i]
        if ('00') in TempOffspring and ('11') in TempOffspring:
            NewOffspringAfterMutation.append(TempOffspring)
            
    OffspringFromMutation = RulesNotToMutation + NewOffspringAfterMutation
    
    RulesForGA = Decode(OffspringFromMutation)
    
    AssosiationRulesDataFrameAfterGA = pd.DataFrame({'Rules': FindAnteConse(RulesForGA),
                                          'Antecedence': FindAntecedence(RulesForGA),
                                          'Consequent': FindConsequent(RulesForGA),
                                          'sup(A)': CheckSupport(FindAntecedence(RulesForGA)),
                                          'sup(B)' : CheckSupport(FindConsequent(RulesForGA)),
                                          'sup(A U B)' : CheckSupport(FindAntecedenceConsequent(RulesForGA))
                                        })
    
    AssosiationRulesDataFrameAfterGA['Kulczynski'] = (AssosiationRulesDataFrameAfterGA['sup(A U B)'] / 2) * ( ( 1/AssosiationRulesDataFrameAfterGA['sup(A)'] ) +  ( 1/AssosiationRulesDataFrameAfterGA['sup(B)'] ))
    AssosiationRulesDataFrameAfterGA['IR'] = (abs(AssosiationRulesDataFrameAfterGA['sup(A)'] - AssosiationRulesDataFrameAfterGA['sup(B)'])) / (AssosiationRulesDataFrameAfterGA['sup(A)'] + AssosiationRulesDataFrameAfterGA['sup(B)'] - AssosiationRulesDataFrameAfterGA['sup(A U B)'])
    AssosiationRulesDataFrameAfterGA = AssosiationRulesDataFrameAfterGA.sort_values('Kulczynski', ascending=False)
    AssosiationRulesDataFrameAfterGA = AssosiationRulesDataFrameAfterGA[AssosiationRulesDataFrameAfterGA['sup(A)'] >= minsup]
    AssosiationRulesDataFrameAfterGA = AssosiationRulesDataFrameAfterGA[AssosiationRulesDataFrameAfterGA['sup(B)'] >= minsup]
    AssosiationRulesDataFrameAfterGA = AssosiationRulesDataFrameAfterGA[AssosiationRulesDataFrameAfterGA['sup(A U B)'] >= minsup]
    
#     AssosiationRulesDataFrameAfterGA.to_csv("Hasil/Hasil Optimasi Iterasi ke - " + str(step) + ".csv", index = False)


#     DataFrame untuk Offspring namanya AssosiationRulesDataFrameAfterGA 
    AssosiationRulesDataFrameAfterGA.to_csv("Hasil/Hasil Optimasi Iterasi ke - " + str(step) + ".csv", index = False)
    
    new_df = pd.concat([AssosiationRulesDataFrameAfterGA, BestAssociationRulesDataFrame])
    new_df = new_df.drop_duplicates()
    new_df_sorted = new_df.sort_values('Kulczynski', ascending=False)
    BestRules = new_df_sorted.head(constanta)
    BestRules.to_csv("Hasil/Final Rules/Kondisi Rules Iterasi ke - " + str(step) + ".csv", index = False)
    NewAntecedenceForIteration = BestRules['Antecedence']
    NewConsequentForIteration = BestRules['Consequent']
    DictOfNewRules = dict(zip(NewAntecedenceForIteration, NewConsequentForIteration))
    RulesForGA = DictOfNewRules
    BestAssociationRulesDataFrame = BestRules